<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{$GLOBALS['title']}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/admin/css/font.css">
    <link rel="stylesheet" href="/static/admin/css/xadmin.css">
    <script src="/static/index/js/jquery-2.1.1.min.js" charset="utf-8"></script>
    <script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="layui-anim layui-anim-up">
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">资金管理</a>
        <a>
            <cite>代理提现记录</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input" placeholder="开始日" name="start" id="start" value="{:input('get.start')}">
            <input class="layui-input" placeholder="截止日" name="end" id="end" value="{:input('get.end')}">
            <input type="text" name="pay_sn"  placeholder="单号" autocomplete="off" class="layui-input" value="{:input('get.pay_sn')}">
            <div class="layui-input-inline">
                <select name="status">
                    <option value="">状态</option>
                    <option {if condition="input('get.status') eq 1"} selected="selected"{/if} value="1">待审核</option>
                    <option {if condition="input('get.status') eq 2"} selected="selected"{/if} value="2">已审核</option>
                    <option {if condition="input('get.status') eq 3"} selected="selected"{/if} value="3">已拒绝</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="page_number">
                    <option value="">当页数量</option>
                    {volist name='page_number' id="val"}
                    <option {if condition="input('get.page_number') eq $val['num']"} selected="selected"{/if} value="{$val['num']}">{$val['num']}</option>
                    {/volist}
                </select>
            </div>
            <button class="layui-btn"  lay-submit="" lay-filter="sreach">查询</button>
            <a href="/agent/Withdraw/agent_withdraw_list"  class="layui-btn layui-btn-normal">重置</a>
        </form>
    </div>
    <xblock>
        <span class="x-right" style="line-height:40px">合计金额：{$count.sum|number_format=###,2,'.',''};数量：{$count.count} 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>单号</th>
            <th>代理</th>
            <!--<th>直属代理</th>-->
            <th>金额</th>
            <th>手续费</th>
            <th>实收</th>
            <th>姓名</th>
            <th>电话</th>
            <th>所属银行</th>
            <th>开户行名称</th>
            <th>银行卡号</th>
            <th>状态</th>
            <th>代理备注</th>
            <th>操作备注</th>
            <th>发起时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo" empty="暂时没有数据" }
        <tr>
            <td>{$vo.id}</td>
            <td>{$vo.pay_sn}</td>
            <td>{$vo.nickname}</td>
            <!--<td>{$vo.p_agent_id|select_agent_username}</td>-->
            <td>{$vo.amount|number_format=###,2,'.',''}</td>
            <td>{$vo.server_money|number_format=###,2,'.',''}</td>
            <td>{$vo.pay_amount|number_format=###,2,'.',''}</td>
            <td>{$vo.bank_khm}</td>
            <td>{$vo.phone}</td>
            <td>{$vo.bank_name}</td>
            <td>{$vo.bank_province}{$vo.bank_city}{$vo.bank_address}</td>
            <td>{$vo.bank_id}</td>
            <td>{$vo.status|str_withdraw_status}</td>
            <td>{$vo.remark}</td>
            <td>{$vo.note}</td>
            <td>{$vo.add_time}</td>
            <td class="td-manage">
                {if condition="$vo['status'] eq 1"}
                <button class="layui-btn layui-btn-xs" onclick="withdraw(2,{$vo.id})">通过</button>
                <button class="layui-btn layui-btn-xs layui-btn-warm" onclick="withdraw(3,{$vo.id})">拒绝</button>
                {/if}
            </td>
        </tr>
        {/volist}

        </tbody>
    </table>
    <div class="page">
        <div>
            {$list->render()|raw}
        </div>
    </div>

</div>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
            ,type: 'datetime'

        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
            ,type: 'datetime'

        });
    });

    /*会员-禁用*/
    function withdraw(status,id){
        layer.confirm('确认要进行此操作吗？',function(index){
            var remark = '';
            if(status==3){
                layer.prompt({
                    formType: 0,
                    value: 0,
                    title: '请输入拒绝原因'

                }, function(value, index, elem){
                    remark = value;
                    if(!remark){
                        layer.msg('请输入拒绝原因',{icon: 2,time:1000});
                        return false;
                    }
                    var load = layer.load();
                    $.ajax({
                        url:'/agent/Api/agent_withdraw_handle',
                        data:{id:id,status:status,remark:remark},
                        type:'post',
                        dataType:'json',
                        success:function(res){
                            layer.close(load);
                            if(res['status']==1){
                                layer.msg(res['msg'],{icon: 1,time:1000},function(){
                                    window.location.reload();
                                });
                            }else{
                                layer.msg(res['msg'],{icon: 2,time:1000});
                            }
                        }
                    });
                    layer.close(index);
                });
            }else{
                var load = layer.load();
                $.ajax({
                    url:'/agent/Api/agent_withdraw_handle',
                    data:{id:id,status:status,remark:remark},
                    type:'post',
                    dataType:'json',
                    success:function(res){
                        layer.close(load);
                        if(res['status']==1){
                            layer.msg(res['msg'],{icon: 1,time:1000},function(){
                                window.location.reload();
                            });
                        }else{
                            layer.msg(res['msg'],{icon: 2,time:1000});
                        }
                    }
                });
            }
        });
    }
</script>

</body>

</html>