<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>{$GLOBALS['title']}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
      <link rel="stylesheet" href="/static/admin/css/font.css">
      <link rel="stylesheet" href="/static/admin/css/xadmin.css">
      <script src="/static/index/js/jquery-2.1.1.min.js" charset="utf-8"></script>
      <script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
      <script type="text/javascript" src="/static/admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">申购币管理</a>
        <a>
          <cite>申购币赠送记录</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input class="layui-input" placeholder="开始日" name="start" id="start" value="{:input('get.start')}" autocomplete="off">
          <input class="layui-input" placeholder="截止日" name="end" id="end" value="{:input('get.end')}" autocomplete="off">
            <div class="layui-input-inline">
                <select name="apply_coin_id">
                    <option value="">申购币种类</option>
                    {foreach $coin_list as $val}
                    <option value="{$val.id}" {if condition="input('get.apply_coin_id') eq $val.id"} selected="selected"{/if}>{$val.name}</option>
                    {/foreach}
                </select>
            </div>
            <input type="text" name="username"  placeholder="会员账号" autocomplete="off" class="layui-input" value="{:input('get.username')}">
            <div class="layui-input-inline">
                <select name="page_number">
                    <option value="">当页数量</option>
                    {volist name='page_number' id="val"}
                    <option {if condition="input('get.page_number') eq $val['num']"} selected="selected"{/if} value="{$val['num']}">{$val['num']}</option>
                    {/volist}
                </select>
            </div>
            <button class="layui-btn"  lay-submit="" lay-filter="sreach">查询</button>
            <a href="{$_SERVER['REDIRECT_URL']}?start={$mytime}"  class="layui-btn layui-btn-normal">重置</a>
            <a href="{:url('admin/api/excel_apply_coin_give_log',input('get.'))}"  class="layui-btn" style="background-color: #337AB7">导出</a>

        </form>
      </div>
        <div class="layui-row">
            <a href="{:url('admin/coin/apply_coin_give_log',input('get.'))}&start={:quick_time_select(1)}&end={:quick_time_select(2)}" class="layui-btn layui-btn-sm layui-btn-normal">昨天</a>
            <a href="{:url('admin/coin/apply_coin_give_log',input('get.'))}&start={:quick_time_select(2)}&end=" class="layui-btn layui-btn-sm layui-btn-normal">今天</a>
            <a href="{:url('admin/coin/apply_coin_give_log',input('get.'))}&start={:quick_time_select(3)}&end=" class="layui-btn layui-btn-sm layui-btn-normal">本周</a>
            <a href="{:url('admin/coin/apply_coin_give_log',input('get.'))}&start={:quick_time_select(4)}&end={:quick_time_select(5)}" class="layui-btn layui-btn-sm layui-btn-normal">上周</a>
            <a href="{:url('admin/coin/apply_coin_give_log',input('get.'))}&start={:quick_time_select(6)}&end=" class="layui-btn layui-btn-sm layui-btn-normal">本月</a>
            <a href="{:url('admin/coin/apply_coin_give_log',input('get.'))}&start={:quick_time_select(7)}&end={:quick_time_select(8)}" class="layui-btn layui-btn-sm layui-btn-normal">上月</a>
        </div>
      <xblock>
          <span class="x-right" style="line-height:40px">合计数量：{$count.number} 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>币种</th>
            <th>会员</th>
            <th>数量</th>
            <th>赠送人</th>
            <th>时间</th>
            <th >操作</th>
            </tr>
        </thead>
        <tbody>
            {volist name="list" id="val"}
            <tr>
                 <td>{$val['id']}</td>
                <td>{$val['apply_coin_name']}</td>
                <td>{$val['username']}</td>
                <td>{$val['agent_name']}</td>
                <td>{$val['number']}</td>
                <td>{$val['give_username']}</td>
                <td>{$val['add_time']}</td>
                <td class="td-manage">

                </td>
            </tr>
            {/volist}

        </tbody>
      </table>
      <div class="page">
        <div>
            {$list->render()|raw}
        </div>
      </div>

    </div>
    <script>
        layui.use('laydate', function(){
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
                ,type: 'datetime'

            });

            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
                ,type: 'datetime'

            });
        });

        
    </script>
  </body>
</html>