<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>aioq.cn艾比特数字资产价值兑换交易平台_区块链服务平台【艾比特】</title>
    <meta name="Keywords" content="aioq.cn艾比特数字资产价值兑换交易平台_区块链服务平台">
    <meta name="Description" content="aioq.cn艾比特交易平台是数字资产价值兑换交易平台，坚持为数字资产交易者提供，专业、安全、快捷的交易服务。">
    <meta name="author" content="aioq.cn">
    <meta name="coprright" content="aioq.cn">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/static/index/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/index/css/style.css" id="theme"/>
    <link rel="stylesheet" href="/static/index/css/common.css"/>
    <script type="text/javascript" src="/static/index/js/jquery-2.1.1.min.js"></script>
    <script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/admin/js/xadmin.js"></script>

</head>
<body lang="zh-CN">
<!--[if lt IE 10]>
<div id="kie-bar" class="kie-bar ">
    您现在使用的浏览器版本过低，可能会导致浏览效果和信息的缺失。 建议立即升级到
    <a href="http://rj.baidu.com/soft/detail/14917.html" target="_blank" title="免费升级至IE8浏览器">IE 10+</a> 或
    <a href="http://rj.baidu.com/soft/detail/14744.html" target="_blank" title="免费升级至360安全浏览器">谷歌浏览器</a> 或
    <a href="http://rj.baidu.com/soft/detail/17451.html" target="_blank" title="免费升级至360安全浏览器">360安全浏览器</a> ，安全更放心！
</div><![endif]-->
<div id="mollymobi_header" style="z-index: 999;min-width: 1200px;width:100%;">
    <div class="header">
        <div class="header-content">
            <ul class="trade-status">

                <li style="padding: 0px 10px 0px 0px;">
                    <i class="fa fa-home fa-lg left move mr5"></i>
                    <span>欢迎来到aioq.cn艾比特数字资产价值兑换交易平台-区块链服务平台</span>
                </li>
            </ul>
            <ul class="user-status">


                <li>
                    <i class="fa fa-user left move fz_16"></i> <a href="/index/Login/register"         class="ma-l move"> 注册</a>
                </li>

                <li>
                    <a href="/index/Login/login" class="darker" style="color:#4f94e7">登录</a>
                </li>


            </ul>
        </div>
    </div>
</div>
<div class="common-nav">
    <div class="nav-bar">
        <div class="logo" style="margin-top: 12px;">
            <a href="/index/Index/index"         class="xiaozhu-logo">
                <img src="/static/index/images/ABT.png" alt=""  style="width: 36%;" />
            </a>
        </div>
        <div class="nav-content">
            <ul class="common-nav-list">
                <li>
                    <a href="/index/Index/index">首页</a>
                </li>
                <li>
                    <a href="/index/Trade/index">交易中心
                    </a>
                </li>
                <li>
                    <a href="/index/Coin/index">申购币</a>
                </li>
                <li>
                    <a href="/index/Notice/index">公告中心</a>
                </li>
                <li>
                    <a href="/index/Notice/help">帮助中心</a>
                </li>
                <li>
                    <a href="/index/Notice/about_us">关于我们</a>
                </li>
                <li>
                    <a href="/index/User/index">个人中心</a>
                </li>

            </ul>
        </div>
    </div>
</div>


<div class="autobox">
	<div class="now">
		<i class="fa fa-home fa-lg move mr5"></i><a href="../index.htm"         class="">首页 </a>&gt; 注册账户	</div>
	<div class="login_step">
		<ul class="order clear">
			<li><i class="fa fa-circle  fz_40 move"><span>1</span></i> 用户注册	<div class="order_line"></div>
			</li>
			<li>
                <i class="fa fa-circle  fz_40"><span>2</span></i>实名认证<div class="order_line"></div>
			</li>
            <li>
                <i class="fa fa-circle  fz_40"><span>3</span></i>绑定银行卡<div class="order_line"></div>
			</li>
			<li><i class="fa fa-circle  fz_40"><span>4</span></i>成功</li>
		</ul>
	</div>
	<div class="reg_box ">
		<div class="mt50">
            <form method="post" class="layui-form" >
                <div id="reg_index" class="reg_wrap">
                    <div class="reg_input_box reg-fb" >
                        <div class="reg_title">手机号：</div>
                        <input type="text" id="username" name="username" class="texts wh300 hg40" placeholder="请输入手机号码" lay-verify="phone" style="width: 300px;"/>
                    </div>

                    <div class="reg_input_box reg-fb">
                        <div class="reg_title">图形验证码：</div>
                        <input type="number" id="vcode" class="texts w300 hg40" placeholder="请输入图形验证码" lay-verify="vcode|number" name="vcode" style="line-height: 34px;width: 20%;"/>
                        <img src="/agent/Login/verify" id="my_code" alt="captcha" style="width: 7%;position: fixed;height: 3rem" onClick="this.src=this.src+'?'+Math.random()"/>
                    </div>
                    <div class="reg_input_box reg-fb">
                        <div class="reg_title">动态验证码：</div>
                        <input type="number" name="code" class="texts w300 hg40" placeholder="请输入动态验证码" lay-verify="code|number" style="line-height: 34px;width: 20%;"/>
                        <input type="button" class="btns2 code_btn" style="width: 7%;position: fixed;height: 3rem;" value="点击发送" onclick="send_msg()"/>
                    </div>
                    <div class="reg_input_box reg-fb" >
                        <div class="reg_title">姓名：</div>
                        <input type="text" name="nickname" class="texts wh300 hg40" placeholder="请输入姓名" lay-verify="nickname" style="width: 300px;"/>
                    </div>
                    <div class="reg_input_box reg-fb">
                        <div class="reg_title">密码：</div>
                        <input type="password" id="password" name="password" class="texts w300 hg40" placeholder="请输入登陆密码" lay-verify="password" style="line-height: 34px;"/>
                    </div>
                    <div class="reg_input_box reg-fb">
                        <div class="reg_title">重复密码：</div>
                        <input type="password"  name="re_password" class="texts w300 hg40" placeholder="请输入重复密码" lay-verify="re_password" style="line-height: 34px;"/>
                    </div>
                    <div class="reg_input_box reg-fb" >
                        <div class="reg_title">邀请码：</div>
                        <input type="number" name="invite_number" value="{$invite_number}" class="texts wh300 hg40" placeholder="选填"  style="width: 300px;"/>
                    </div>
                    <div class="formbody">
                        <input type="submit" class="btns2 w300 hg40" lay-submit lay-filter="reg" value="立即注册">
                    </div>
                </div>
            </form>
</div>
</div>
</div>
</body>

</html>
<script>
    $(function  () {
        layui.use('form', function(){
            $ = layui.jquery;
            var form = layui.form
                    ,layer = layui.layer;
            form.verify({
                vcode: function(value){
                    if(value.length !=4){
                        return '请输入图形验证码';
                    }
                }
                ,code: function(value){
                    if(value.length !=6){
                        return '请输入动态验证码';
                    }
                }
                ,nickname:function(value){
                    if(value.length < 1||value.length > 6){
                        return '长度1-6位';
                    }
                    if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
                        return '不含特殊字符';
                    }
                }
                ,password: [
                    /^[\S]{6,18}$/
                    ,'请输入6到18位密码'
                ]
                ,re_password:function(value){
                    if(value.length < 6||value.length > 18){
                        return '长度6-18位';
                    }
                    if(value!=$('#password').val()){
                        return '两次输入密码不一致';
                    }
                }
            });

            form.on('submit(reg)', function(data){
                var load = layer.load();
                $('input[type="submit"]').attr("disabled",true);
                $.post("/index/Login/register",data.field,function(res){
                    layer.close(load);
                    if(res.status==0){
                        layer.msg(res.msg,{icon: 2,time:1000},function(){
                            $('input[type="submit"]').removeAttr("disabled");
                            $('input[name="password"]').val('');
                            $('#my_code').click();
                        });
                    }else{
                        layer.msg(res.msg,{icon: 1,time:1000},function(){
                            window.location.href="/index/User/index"
                        });
                    }
                },'json');
                return false;
            });
        });
    })
    function send_msg() {
        var phone = $('#username').val();
        var vcode = $('#vcode').val();
        if(!(/^1[3457698]\d{9}$/.test(phone))){
            layer.msg("请正确输入手机号！");
            $('#username').focus();
            return false;
        }
        if(vcode.length!=4){
            layer.msg("请正确图形验证码！");
            $('#vcode').focus();
            return false;
        }
        var url = "/index/Login/send_msg";
        $.post(url,{phone:phone,vcode:vcode},function(resdata){
            console.log(resdata);
            layer.msg(resdata.msg);
            if(resdata.status == 1){
                $(".code_btn").attr('onclick',"return false;");
                msg_time_down();
            }else{
                $('#my_code').click();
            }
        })
        return false;
    }
    function msg_time_down(){
        var time= 61;
        setTime=setInterval(function(){
            if(time<=1){
                clearInterval(setTime);
                $(".code_btn").val("再发一次");
                $(".code_btn").attr('onclick',"return send_msg();");
                return;
            }
            time--;
            $(".code_btn").val(time+"s");

        },1000);
    }
</script>