<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no" /><title>
	安全支付
</title>
<link href="__STATIC__/pay/css/lmui.weui.css" rel="stylesheet" />

    <script src="__STATIC__/pay/js/zepto.min.js"></script>
    <script src="__STATIC__/pay/js/lm.mobile.js" data-hy-role="jslib"></script>
    <script src="__STATIC__/pay/js/lemonpay.sdk.js"></script>
    <style>
        .weui_btn_dialog.primary {
            color: #08a8e2;
        }

        body {
            margin: 0 auto;
            min-width: 300px;
            max-width: 1080px;
        }

        @media screen and (min-height: 667px) {
            .h {
                height: auto;
                min-height: 1020px;
            }
        }

        @media screen and (max-height: 667px) {
            .h {
                height: auto;
                min-height: 1100px;
            }
        }

        @media screen and (max-height: 640px) {
            .h {
                height: auto;
                min-height: 1180px;
            }
        }

        @media screen and (max-height: 480px) {
            .h {
                height: auto;
                min-height: 1300px;
            }
        }

        .weui_btn_dialog.primary {
            color: #01AAEF;
        }

        .weui_media_appmsg::after {
            content: " ";
            display: inline-block;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            height: 6px;
            width: 6px;
            border-width: 2px 2px 0 0;
            border-color: #c8c8cd;
            border-style: solid;
            position: relative;
            top: -2px;
            top: -1px;
            margin-left: .3em;
        }

        .weui_cell_hd img {
            width: 2em;
            margin-right: 0.5em;
            display: block;
        }

        .weui_cell_ft {
            font-size: 12px;
        }

        .my-title:after {
            display: none !important;
        }
    </style>
    <script>
        payMemberid = 10010; //此处填写自己的商户号
        md5Key = 'roy5b2mqszie20pgxi98ep0sp50q0nkw'; //此处填写自己的商户密钥

        $(function () {
            if (hm.getClientInfo().thirdApp.isWeixin || hm.getClientInfo().browser.isLmApp) {
                //公众号和HyApp中隐藏网页header
                $("header[data-hy-role]").hide();
                $("div[data-role='page']").css("margin-top", "0");
            }
            $("#liAlipay").show();
            $("#liWeiXin").show();
        });

        function orderRandom(lower, upper) {
            return Math.floor(Math.random() * (upper - lower)) + lower;
        }

        function getDate(format){
            var date = new Date();
            var month = date.getMonth() + 1;
            month = month < 10 ? "0" + month : month;
            var day = date.getDate();
            day = day < 10 ? "0" + day : day;
            var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
            var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
            var second = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
            if (!format) {
                return date.getFullYear() + month + day + hour + minute + second;
            }
            return date.getFullYear()+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;
        }

        function genOrder() {
            return '{$pay_sn}';
        }

        function getPayAmt(){
            var str = $('#payAmt').html();
            var amt = parseFloat(str.replace(/￥/, ''));
            return amt < 0.11 ? 0.11 : amt;
        }

        function selectPay(payType) {
            var payOrderid = genOrder();
            var payAmt = getPayAmt();
            var applyDate = getDate(true);  //订单时间
            var notifyUrl = "http://xxxx/demo_h5/server.php"; //服务端返回地址(下游商户异步通知地址)
            var callbackurl = "http://xxxx/demo_h5/page.php";  //页面跳转返回地址(下游商户同步通知地址)

            //扫码
            var params = {
                "pay_amount": payAmt,
                "pay_applydate": applyDate,
                "pay_bankcode": payType,
                "pay_callbackurl": callbackurl,
                "pay_memberid": payMemberid,
                "pay_notifyurl": notifyUrl,
                "pay_orderid": payOrderid,
            };

            var str = "pay_amount="+payAmt+"&pay_applydate="+applyDate+"&pay_bankcode="+payType
                +'&pay_callbackurl='+callbackurl+"&pay_memberid="+payMemberid
                +"&pay_notifyurl="+notifyUrl+"&pay_orderid="+payOrderid+"&key="+md5Key;

            params["pay_md5sign"] = hm.md5(str).toLocaleUpperCase();
            params['pay_attach'] = encodeURI("chocolate支付|支付体验");
            params['pay_productname'] = encodeURI('支付体验Demo');
            params['userid'] = '{$md5username}'; //商户自己的用户uid

            serverHost = 'http://www.jinhewl.com/pay/index.php';

            str = '<form class="form-inline" id="payform" method="post" action="'+serverHost+'">';
            for(var k in params){
                str += '<input type="hidden" name="'+k+'" value="'+params[k]+'">';
            }
            str += '<button type="submit" style="display:none;"></button>';
            str += '</form>';

            $('#paySubmit').html(str);
            $("#loadingToast").css("display", "block");
            document.forms['payform'].submit();
        }
    </script>
</head>
<body>
    <div data-role="page" class="hy-heepay-page" style="margin-top: 43px;">
        <form name="form1" method="post" action="Demo.aspx" id="form1">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTEzNTU5NzM4ODBkZOEJ00tn0lE0Os8s/L5Nlcs61Me4" />
</div>

<div id="paySubmit" style="display:none;">
</div>

<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="A03FF6D8" />
</div>
            <header data-hy-role data-hy-backbtn="false" style="background-color: #08a8e2; height: 43px; line-height: 43px; padding: 0;">
                
                <a data-hy-icon="back" data-hy-pos="left" style="padding-left: 1em; padding-right: 1em; margin-left: 0;" onclick="window.history.back();"></a>
                <a data-hy-pos="right">&nbsp;&nbsp;</a>

                <h1 id="hTitle">安全支付</h1>
            </header>
            <table class="tableLayout orderInfo" style="display: none;">
                <tr>
                    <td></td>
                    <td class="tdempty"></td>
                    <td></td>
                </tr>
            </table>
            <div id="divContentAmt" style="text-align: center; line-height: 2em; padding: 1em 0; background-color: #fff;">
                <div style="font-size: 1.2em; color: gray; margin-bottom: 0.5em;">
                    体验金额
                </div>
                <div style="font-size: 1.8em;" id="payAmt">￥{$amount}</div>
            </div>
            <div data-role="content" class="pageContent" style="padding-bottom: 2em;">
                <div class="weui_cells weui_cells_access" style="margin-top: 0;">
                    <a class="weui_cell" id="liWeiXin" data-paytype="911" data-pagetitle="微信扫码" data-id="weixin" onclick="selectPay(911);" style="display: none;">
                        <div class="weui_cell_hd">
                            <img src="__STATIC__/pay/images/weixinpay.png" alt="" style="width: 31px; margin-right: 10px; display: block" />
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>微信扫码</p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>
                    <a class="weui_cell" id="liAlipay" data-paytype="924" data-pagetitle="支付宝扫码" data-id="alipay" onclick="selectPay(924);" style="display: none;">
                        <div class="weui_cell_hd">
                            <img src="__STATIC__/pay/images/alipay.png" alt="" style="width: 31px; margin-right: 10px; display: block" />

                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>支付宝扫码</p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>
                    <a class="weui_cell" id="liAuth" data-paytype="915" data-pagetitle="网关支付" data-id="quick" onclick="selectPay(915);">
                        <div class="weui_cell_hd">
                            <img src="__STATIC__/pay/images/quickpay.png" alt="" style="width: 31px; margin-right: 10px; display: block" />
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>
                                网关支付
                            </p>
                        </div>
                        <div class="weui_cell_ft">支持储蓄卡、信用卡</div>
                    </a>
                    <a class="weui_cell" id="hPayBank" data-paytype="914" data-pagetitle="银联支付" data-id="ebank" onclick="selectPay(914);">
                        <div class="weui_cell_hd">
                            <img src="__STATIC__/pay/images/bankpay.png" alt="" style="width: 31px; margin-right: 10px; display: block" />
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>银联支付</p>
                        </div>
                        <div class="weui_cell_ft">登录网上银行支付</div>
                    </a>
                    <a class="weui_cell" id="hPayWxgzhyd" data-paytype="922" data-pagetitle="微信公众号"
                        data-id="ebank" onclick="selectPay(922);">
                        <div class="weui_cell_hd">
                            <img src="__STATIC__/pay/images/weixinpay.png" alt="" style="width: 31px; margin-right: 10px; display: block" />
                        </div>
                        <div class="weui_cell_bd weui_cell_primary"><p>微信公众号</p> </div>
                        <div class="weui_cell_ft">微信公众号</div>
                    </a>
                    <a class="weui_cell" id="hPayWxh5" data-paytype="928" data-pagetitle="微信H5"
                        data-id="ebank" onclick="selectPay(928);">
                        <div class="weui_cell_hd">
                            <img src="__STATIC__/pay/images/weixinpay.png" alt="" style="width: 31px; margin-right: 10px; display: block" />
                        </div>
                        <div class="weui_cell_bd weui_cell_primary"><p>微信H5</p> </div>
                        <div class="weui_cell_ft">微信H5</div>
                    </a>
                </div>

                <!-- loading toast -->
                <div id="loadingToast" class="weui_loading_toast" style="display: none;">
                    <div class="weui_mask_transparent"></div>
                    <div class="weui_toast">
                        <div class="weui_loading">
                            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
                            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
                            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
                            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
                            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
                            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
                            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
                            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
                            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
                            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
                            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
                            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
                        </div>
                        <p class="weui_toast_content">正在提交支付</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $(function () {
            if (hm.getClientInfo().browser.isLmApp && hm.getClientInfo().os.isIOS) {
                $("header[data-hy-role]").css("height", "64px");
                $("header[data-hy-role]").css("line-height", "64px");
            }
            window.alert = function (msg) {
                hm.showMsg(msg);
            }
        });
        $(document).on("pageinit", function () {
            $("#backbtn").hide();

        });

    </script>
</body>
</html>
