<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>手机注册</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
    <link rel="stylesheet" href="/static/mobile/css/weui.min.css">
    <link rel="stylesheet" href="/static/mobile/css/jquery-weui.css">
    <link rel="stylesheet" href="/static/mobile/css/style.css">
    <link rel="stylesheet" href="/static/admin/css/xadmin.css">
    <style type="text/css">
        .weui-input{
            color: white;
        }
    </style>
</head>
<body ontouchstart>
<!--主体-->
<header class="wy-header">
    <!--<div class="wy-header-icon-back" onclick="javascript:history.go(-1)"><span></span></div>-->
  <div class="wy-header-title">手机注册</div>
</header>
<div class="weui-content">
    <form method="post" class="layui-form" >

    <div class="weui-cells weui-cells_form wy-address-edit">
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label wy-lab">手机号</label></div>
      <div class="weui-cell__bd"><input class="weui-input" name="username" id="username" type="tel" placeholder="请输入手机号" lay-verify="phone"></div>
    </div>
    <div class="weui-cell weui-cell_vcode">
      <div class="weui-cell__hd"><label class="weui-label wy-lab">图形验证码</label></div>
      <div class="weui-cell__bd"><input class="weui-input" name="vcode" type="number" placeholder="请输入图形验证码" lay-verify="vcode|number" id="vcode"></div>
      <div class="weui-cell__ft">
      <img src="/agent/Login/verify" id="my_code" alt="captcha" style="height: 2rem;width: 4.1rem" onClick="this.src=this.src+'?'+Math.random()"/>
      </div>
    </div>
      <div class="weui-cell weui-cell_vcode">
          <div class="weui-cell__hd"><label class="weui-label wy-lab">动态验证码</label></div>
          <div class="weui-cell__bd"><input class="weui-input" type="number" placeholder="请输入动态验证码" lay-verify="code|number" name="code"></div>
          <div class="weui-cell__ft"><button type="button" class="weui-vcode-btn" onclick="send_msg()">点击发送</button></div>
      </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label wy-lab">姓名</label></div>
      <div class="weui-cell__bd"><input class="weui-input" name="nickname" lay-verify="nickname" type="text"  placeholder="请输入您的姓名"></div>
    </div>
        <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label wy-lab">设置密码</label></div>
      <div class="weui-cell__bd"><input class="weui-input" type="password" id="password" name="password" placeholder="请输入新密码" lay-verify="password"></div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label wy-lab">确认密码</label></div>
      <div class="weui-cell__bd"><input lay-verify="re_password"  class="weui-input" type="password" name="re_password"  placeholder="请再次输入新密码"></div>
    </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label wy-lab">邀请码</label></div>
            <div class="weui-cell__bd"><input class="weui-input"  type="number" name="invite_number"  placeholder="选填" value="{$invite_number}"></div>
        </div>
    </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <input type="checkbox" checked lay-skin="primary"  disabled >
            </div>
            <div class="weui-cell__bd">
                <span class="weui-agree__text" style="float: left">阅读并同意<a href="javascript:void(0);" style="color: white">《注册协议》</a>
                </span>
            </div>
        </div>
    <div class="weui-btn-area"><button type="submit" class="weui-btn weui-btn_warn" lay-submit lay-filter="reg">立即注册</button></div>
    </form>

    <div class="weui-cells__tips t-c font-12">登陆账号为您输入的手机号码</div>
  <div class="weui-cells__tips t-c pd-10"><a href="/mobile/Login/xieyi" class="weui-cell_link font-12">查看注册协议</a></div>

</div>

<script src="/static/index/js/jquery-2.1.1.min.js"></script>
<script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/admin/js/xadmin.js"></script>
<script type="text/javascript">
    $(function  () {
        layui.use('form', function(){
            $ = layui.jquery;
            var form = layui.form
                    ,layer = layui.layer;
            form.verify({
                vcode: function(value){
                    if(value.length !=4){
                        return '请输入图形验证码';
                    }
                }
                ,code: function(value){
                    if(value.length !=6){
                        return '请输入动态验证码';
                    }
                }
                ,nickname:function(value){
                    if(value.length < 1||value.length > 6){
                        return '长度1-6位';
                    }
                    if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
                        return '不含特殊字符';
                    }
                }
                ,password: [
                    /^[\S]{6,18}$/
                    ,'请输入6到18位密码'
                ]
                ,re_password:function(value){
                    if(value.length < 6||value.length > 18){
                        return '长度6-18位';
                    }
                    if(value!=$('#password').val()){
                        return '两次输入密码不一致';
                    }
                }
            });

            form.on('submit(reg)', function(data){
                var load = layer.load();
                $('button[type="submit"]').attr("disabled",true);
                $.post("/mobile/Login/register",data.field,function(res){
                    layer.close(load);
                    if(res.status==0){
                        layer.msg(res.msg,{icon: 2,time:1000},function(){
                            $('button[type="submit"]').removeAttr("disabled");
                            $('input[name="code"]').val('');
                            $('#my_code').click();
                        });
                    }else{
                        layer.msg(res.msg,{icon: 1,time:1000},function(){
                            window.location.href="{$app_download}";
                        });
                    }
                },'json');
                return false;
            });
        });
    })
    function send_msg() {
        var phone = $('#username').val();
        var vcode = $('#vcode').val();
        if(!(/^1[3457698]\d{9}$/.test(phone))){
            layer.msg("请正确输入手机号！",{icon: 2,time:1000});
            $('#username').focus();
            return false;
        }
        if(vcode.length!=4){
            layer.msg("请正确图形验证码！",{icon: 2,time:1000});
            $('#vcode').focus();
            return false;
        }
        var url = "/index/Login/send_msg";
        $.post(url,{phone:phone,vcode:vcode},function(resdata){
            console.log(resdata);
            layer.msg(resdata.msg);
            if(resdata.status == 1){
                $(".code_btn").attr('onclick',"return false;");
                msg_time_down();
            }else{
                $('#my_code').click();
            }
        })
        return false;
    }
    function msg_time_down(){
        var time= 61;
        setTime=setInterval(function(){
            if(time<=1){
                clearInterval(setTime);
                $(".code_btn").val("再发一次");
                $(".code_btn").attr('onclick',"return send_msg();");
                return;
            }
            time--;
            $(".code_btn").val(time+"s");

        },1000);
    }
</script>
</body>
</html>
