<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>我的申购币</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">
    <link rel="stylesheet" href="/static/mobile/css/weui.min.css">
    <link rel="stylesheet" href="/static/mobile/css/style.css">
    <style type="text/css">
        .weui-form-preview__label,.weui-form-preview__value,.weui-form-preview__btn{
            color: white;
        }
    </style>
</head>
<body ontouchstart>
<!--主体-->
<header class="wy-header">
    <div class="wy-header-icon-back" onclick="window.history.back();"><span></span></div>
  <div class="wy-header-title">我的申购币</div>
</header>
<div class="weui-content">
    <div class="weui-tab">
        <div class="weui-tab__bd proinfo-tab-con" >
            <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                    {volist name='list' id='val'}
                    <div class="weui-form-preview" >
                        <div class="weui-form-preview__hd">
                            <div class="weui-form-preview__item">
                                <label class="weui-form-preview__label">货币名称</label>
                                <em class="weui-form-preview__value" >{$val['apply_coin_name']}</em>
                            </div>
                        </div>
                        <div class="weui-form-preview__bd">
                            <div class="weui-form-preview__item">
                                <label class="weui-form-preview__label">数量</label>
                                <span class="weui-form-preview__value">{$val['amount']|number_format=###,2,".",""}</span>
                            </div>
                    </div>
                       <div class="weui-form-preview__ft">
                        <a class="weui-form-preview__btn weui-form-preview__btn_default" href="/mobile/User/coin_give_log?id={$val.apply_coin_id}" style="color: orange">获赠记录</a>
                           <a class="weui-form-preview__btn weui-form-preview__btn_default" href="/mobile/User/coin_order_log?id={$val.apply_coin_id}" style="color: greenyellow">购买记录</a>
                    </div>
                    {/volist}
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>
