<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>提现</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">
        <link rel="stylesheet" href="/static/mobile/css/weui.min.css">
        <link rel="stylesheet" href="/static/mobile/css/style.css">
        <style type="text/css">
            #amount,#bank_info_id,#money{
                color: white;
            }
            #bank_info_id{
                background-color: #121524;
            }
        </style>
	</head>
<body ontouchstart>
<!--主体-->
<header class="wy-header">
  <div class="wy-header-icon-back" onclick="window.history.back();"><span></span></div>
  <div class="wy-header-title">提现</div>
</header>
<div class="weui-content recharge">

  <div class="weui-cells weui-cells_form">
     <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label">可用余额</label></div>
          <div class="weui-cell__bd"><input class="weui-input" type="text" readonly="readonly" id="amount" value="{$real_money|number_format=###,2,".",""}"></div>
      </div>

     <form  id='withdraw_form'>
          <div class="weui-cell">
              <div class="weui-cell__hd"><label class="weui-label">提现金额</label></div>
              <div class="weui-cell__bd">
                  <input class="weui-input" type="number" id="money" name='money' placeholder="请输入提现金额">
              </div>
          </div>
         <div class="weui-cell">
             <div class="weui-cell__hd">
                 <label class="weui-label">提现银行卡</label>
             </div>
             <select name="bank_info_id" id="bank_info_id">
                 <option  value="0">请选择银行卡信息</option>
                 {volist name="bank_info_list" id="val"}
                 <option  value="{$val.id}">{$val.bank_name}—{$val.bank_card|dataDesensitization=###,4,8}</option>
                 {/volist}
             </select>
         </div>

      </form>
  </div>
  <div class="weui-btn-area">
      <input  class="weui-btn weui-btn_primary"  value="确认提交" readonly="readonly" >
  </div>
    <div  style="text-indent: 1rem;color: white;margin-top: 3rem;">
        <p>特别提醒：</p>
        <p>1.提现前必须进行实名认证，并绑定银行卡</p>
        <p>2.提现银行卡对应的姓名必须是实名认证的姓名</p>
        <p>3.提现银行卡对应的手机号必须是注册时的号码</p>
    </div>
</div>
<script src="/static/index/js/jquery-2.1.1.min.js"></script>
<script src="/static/mobile/js/jquery-weui.js"></script>
<script src="/static/layer/layer.js" charset="utf-8"></script>
<script type="text/javascript">
    $(".weui-btn").click(function(event) {
        var money = $('#money').val();
        var bank_info_id = $('#bank_info_id').val();
        if(money==""){
            layer.msg('请输入提现金额',{icon: 2,time:1000});
            return;
        }
        if(money<=0){
            layer.msg('请输入正确的提现金额',{icon: 2,time:1000});
            return;
        }
        if(bank_info_id==0){
            layer.msg('请选择提现银行卡',{icon: 2,time:1000});
            return;
        }
        $.showLoading("提交中");
        _this = $("#withdraw_form");
        $.post("/mobile/User/withdraw", _this.serialize(), function(data) {
            $(".weui-btn").attr('disabled',"true");
            $.hideLoading();
            layer.msg(data.msg,{icon: 1,time:2000},function(){
                if(data.status==1){
                    window.location.href="/mobile/User/index";
                }else{
                    $('.weui-btn').removeAttr("disabled");
                }
            });
        });
        return false;
    });
</script>
</body>
</html>
