<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{$GLOBALS['title']}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/admin/css/font.css">
    <link rel="stylesheet" href="/static/admin/css/xadmin.css">
    <script src="/static/index/js/jquery-2.1.1.min.js" charset="utf-8"></script>
    <script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="layui-anim layui-anim-up">
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">用户管理</a>
        <a>
            <cite>银行卡列表</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <!--<input class="layui-input" placeholder="开始日" name="start" id="start" value="{:input('get.start')}">-->
            <!--<input class="layui-input" placeholder="截止日" name="end" id="end" value="{:input('get.end')}">-->

            <div class="layui-input-inline">
                <select name="utype">
                    <option value="">用户类型</option>
                    <option {if condition="input('get.utype') eq 1"} selected="selected"{/if} value="1">会员</option>
                    <option {if condition="input('get.utype') eq 2"} selected="selected"{/if} value="2">代理</option>
                </select>
            </div>
            <input type="text" name="username"  placeholder="用户账号" autocomplete="off" class="layui-input" value="{:input('get.username')}">
            <input type="text" name="name"  placeholder="真实姓名" autocomplete="off" class="layui-input" value="{:input('get.name')}">
            <input type="text" name="phone"  placeholder="电话" autocomplete="off" class="layui-input" value="{:input('get.phone')}">

            <!--<input type="text" name="p_agent"  placeholder="查询代理直属" autocomplete="off" class="layui-input" value="{:input('get.p_agent')}">-->
            <!--<input type="text" name="all_agent"  placeholder="查询代理全部" autocomplete="off" class="layui-input" value="{:input('get.all_agent')}">-->
            <div class="layui-input-inline">
                <select name="status">
                    <option value="">状态</option>
                    <option {if condition="input('get.status') eq 1"} selected="selected"{/if} value="1">正常</option>
                    <option {if condition="input('get.status') eq 2"} selected="selected"{/if} value="2">删除</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="page_number">
                    <option value="">当页数量</option>
                    {volist name='page_number' id="val"}
                    <option {if condition="input('get.page_number') eq $val['num']"} selected="selected"{/if} value="{$val['num']}">{$val['num']}</option>
                    {/volist}
                </select>
            </div>
            <button class="layui-btn"  lay-submit="" lay-filter="sreach">查询</button>
            <a href="{$_SERVER['REQUEST_URI']}"  class="layui-btn layui-btn-normal">重置</a>
            <a href="{:url('admin/Api/excel_bank_list',input('get.'))}"  class="layui-btn" style="background-color: #337AB7">导出</a>
        </form>
    </div>
    <xblock>
        <span class="x-right" style="line-height:40px">合计数量：{$count.count} 条</span>
    </xblock>

    <table class="layui-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>用户类型</th>
            <th>账号</th>
            <th>真实姓名</th>
            <th>电话</th>
            <th>开户行</th>
            <th>支行</th>
            <th>卡号</th>
            <th>状态</th>
            <th>添加时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo" empty="暂时没有数据" }
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.utype|str_utype}</td>
                <td>{$vo.username}</td>
                <td>{$vo.name}</td>
                <td>{$vo.phone}</td>
                <td>{$vo.bank_name}</td>
                <td>{$vo.branch_name}</td>
                <td>{$vo.bank_card}</td>
                <td class="td-status">
                    {if condition="$vo.status eq 1"}
                    <a onclick="member_stop(this,{$vo['id']},2)" href="javascript:;"  title="删除银行卡">
                        <span class="layui-btn layui-btn-normal layui-btn-mini">正常</span>
                    </a>
                    {else /}
                    <a onclick="member_stop(this,{$vo['id']},1)" href="javascript:;"  title="设置银行卡正常使用">
                        <span class="layui-btn layui-btn-danger layui-btn-mini ">删除</span>
                    </a>
                    {/if}
                </td>
                <td>{$vo.add_time}</td>
                <td class="td-manage">
                    <button class="layui-btn layui-btn-sm" onclick="x_admin_show('修改','/admin/User/bank_info?id={$vo.id}')">修改</button>
                </td>
            </tr>
        {/volist}

        </tbody>
    </table>
    <div class="page">
        <div>
            {$list->render()|raw}
        </div>
    </div>

</div>
<script>

    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
            ,type: 'datetime'

        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
            ,type: 'datetime'

        });
    });


    /*会员-禁用*/
    function member_stop(obj,id){
        layer.confirm('确认要'+$(obj).attr('title')+'吗？',function(index){
            var load = layer.load();
            var status = 1;
            if($(obj).attr('title')=='删除银行卡'){
                status = 2;
            }
            $.ajax({
                url:'/admin/Api/status_change',
                data:{id:id,status:status,db:'bank_info'},
                type:'post',
                dataType:'json',
                success:function(res){
                    layer.close(load);
                    if(res['status']==1){
                        if(status==2){
                            //发异步把会员状态进行更改
                            $(obj).attr('title','设置银行卡正常使用').children('span').removeClass('layui-btn-normal').addClass('layui-btn-danger').html('删除');
                            layer.msg('已删除银行卡!',{icon: 1,time:1000});
                        }else{
                            $(obj).attr('title','删除银行卡').children('span').removeClass('layui-btn-danger').addClass('layui-btn-normal').html('正常');
                            layer.msg('设置银行卡正常使用!',{icon: 1,time:1000});
                        }
                    }else{
                        layer.msg('操作失败!',{icon: 2,time:1000});
                    }
                }
            });
        });
    }
</script>

</body>

</html>