<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{$GLOBALS['title']}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/admin/css/font.css">
    <link rel="stylesheet" href="/static/admin/css/xadmin.css">
    <script src="/static/index/js/jquery-2.1.1.min.js" charset="utf-8"></script>
    <script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .model{
            display: none;
            width: 100%;
            height:100%;
            background: rgba(0,0,0,0.5);
            position: fixed;
            left:0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            z-index: 99999;
            top:0;
            overflow: hidden;
        }
        .model .model-center{
            width: 40%;
            position: absolute;
            padding: 14px 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            left:35% ;
            top:4%;

            background: #ffffff;
        }
        .model .layui-form-label{
            width: 30%;
            float: left;
            padding: 0;
            padding-top:15px;
            font-size: 16px;
        }
        .model .layui-input-block,.model .model-num{
            width: 62%;
            float: right;
            margin-left: 0;
            margin-top: 6px;
        }
        .model .model-num{
            border-radius: 10px;
            width: 50%;
            padding-left: 3%;
            margin-right:7%;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            height: 25px;
            line-height: 25px;
            border: 1px solid #ddd;
            background: none;
            outline: none;
            margin-top: 8px;
        }
        .model .layui-form-item{
            margin-bottom: 5px!important;
        }
        .model button{
            height: 30px;
            line-height: 30px;
            margin: 0 auto;
            width: 20%;
            margin-left: 40%;
            margin-top: 20px;

        }
        #my_user_name{
            color: orange;
        }
        .my_red{
            color: red;
        }
        .my_blue{
            color: blue;
        }
    </style>
</head>

<body class="layui-anim layui-anim-up">
    <div class="model" >
    <div class="model-center">
        <form class="layui-form">
            <div style="text-align: center">确定要操作 <span id="my_user_name"></span> <span class="my_up_down" ></span>吗?</div>
            <div class="layui-form-item">
                <label class="layui-form-label">金额</label>
                <input type="number" placeholder="请输入金额" id="my_money" class="model-num" />
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">大写金额</label>
                <div class="model-num" id="big_real_money">零</div>
            </div>
            <input type="hidden" id="uid" value=""/>
            <input type="hidden" id="my_type" value=""/>
            <div class="layui-form-item">
                <button class="layui-btn" type="button" onclick="tijiao()">提交</button>
                <button class="layui-btn layui-btn-danger" type="button" onclick="quxiao()">取消</button>
            </div>
        </form>
    </div>
</div>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">用户管理</a>
        <a>
            <cite>会员列表</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input" placeholder="开始日" name="start" id="start" value="{:input('get.start')}">
            <input class="layui-input" placeholder="截止日" name="end" id="end" value="{:input('get.end')}">

            <!--<div class="layui-input-inline">-->
                <!--<select name="type">-->
                    <!--<option value="">会员类型</option>-->
                    <!--<option {if condition="input('get.type') eq 1"} selected="selected"{/if} value="1">真实会员</option>-->
                    <!--<option {if condition="input('get.type') eq 2"} selected="selected"{/if} value="2">模拟会员</option>-->
                <!--</select>-->
            <!--</div>-->
            <input type="text" name="username"  placeholder="会员账号" autocomplete="off" class="layui-input" value="{:input('get.username')}">
            <input type="text" name="nickname"  placeholder="会员名称" autocomplete="off" class="layui-input" value="{:input('get.nickname')}">
            <input type="text" name="pid"  placeholder="邀请人账号" autocomplete="off" class="layui-input" value="{:input('get.pid')}">
            <input type="text" name="agent_name"  placeholder="代理账号" autocomplete="off" class="layui-input" value="{:input('get.agent_name')}">
            <!--<input type="text" name="p_agent"  placeholder="查询代理直属" autocomplete="off" class="layui-input" value="{:input('get.p_agent')}">-->
            <!--<input type="text" name="all_agent"  placeholder="查询代理全部" autocomplete="off" class="layui-input" value="{:input('get.all_agent')}">-->
            <div class="layui-input-inline">
                <select name="status">
                    <option value="">会员状态</option>
                    <option {if condition="input('get.status') eq 1"} selected="selected"{/if} value="1">登录正常</option>
                    <option {if condition="input('get.status') eq 2"} selected="selected"{/if} value="2">登录禁止</option>
                    <option {if condition="input('get.status') eq 3"} selected="selected"{/if} value="3">交易正常</option>
                    <option {if condition="input('get.status') eq 4"} selected="selected"{/if} value="4">交易禁止</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="page_number">
                    <option value="">当页数量</option>
                    {volist name='page_number' id="val"}
                    <option {if condition="input('get.page_number') eq $val['num']"} selected="selected"{/if} value="{$val['num']}">{$val['num']}</option>
                    {/volist}
                </select>
            </div>
            <button class="layui-btn"  lay-submit="" lay-filter="sreach">查询</button>
            <a href="{$_SERVER['REQUEST_URI']}"  class="layui-btn layui-btn-normal">重置</a>
            <a href="{:url('admin/Api/excel_user_list',input('get.'))}"  class="layui-btn" style="background-color: #337AB7">导出</a>
        </form>
    </div>
    <xblock>
        <!--<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>-->
        <button class="layui-btn" onclick="x_admin_show('添加会员','/admin/User/user_add')"><i class="layui-icon"></i>添加会员</button>
        <span class="x-right" style="line-height:40px">合计余额：{$count.sum_money|number_format=###,2,'.',''};数量：{$count.count} 条</span>
    </xblock>

    <table class="layui-table">
        <thead>
        <tr>
            <!--<th>-->
                <!--<div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>-->
            <!--</th>-->
            <th>ID</th>
            <th>账号</th>
            <th>昵称</th>
            <!--<th>类型</th>-->
            <th>邀请人</th>
            <th>直属代理</th>
            <th>余额</th>
            <th>保证金</th>
            <!--<th>限小</th>-->
            <!--<th>限大</th>-->
            <th>注册时间</th>
            <th>交易状态</th>
            <th>登录状态</th>
            <th>邀请码</th>
            <th>银行信息</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo" empty="暂时没有数据" }
            <tr>
                <!--<td>-->
                    <!--<div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$vo.uid}'><i class="layui-icon">&#xe605;</i></div>-->
                <!--</td>-->
                <td>{$vo.uid}</td>
                <td>{$vo.username}</td>
                <td>{$vo.nickname}</td>
                <td>{$vo.pid|select_user_username}</td>
                <td>{$vo.agent_name}</td>
                <td>{$vo.money|number_format=###,2,".",""}</td>
                <td>{$vo.promise_money|number_format=###,2,".",""}</td>
                <td>{$vo.add_time}</td>
                <td class="td-status">
                    {if condition="$vo.trade_status eq 1"}
                    <a onclick="trade_status(this,{$vo['uid']})" href="javascript:;"  title="设置会员禁止交易">
                        <span class="layui-btn layui-btn-normal layui-btn-mini">是</span>
                    </a>
                    {else /}
                    <a onclick="trade_status(this,{$vo['uid']})" href="javascript:;"  title="设置会员可以交易">
                        <span class="layui-btn layui-btn-danger layui-btn-mini ">否</span>
                    </a>
                    {/if}
                </td>
                <td class="td-status">
                    {if condition="$vo.login_status eq 1"}
                    <a onclick="member_stop(this,{$vo['uid']})" href="javascript:;"  title="设置会员不可登录">
                        <span class="layui-btn layui-btn-normal layui-btn-mini">是</span>
                    </a>
                    {elseif condition="$vo.login_status eq 2" /}
                    <a onclick="member_stop(this,{$vo['uid']})" href="javascript:;"  title="设置会员可登录">
                        <span class="layui-btn layui-btn-danger layui-btn-mini ">否</span>
                    </a>
                    {/if}
                </td>

                <td class="td-status">
                    <a onclick="x_admin_show('会员邀请码','/admin/User/user_code?id={$vo.uid}')" href="javascript:;"  title="会员邀请码">
                        <span class="layui-btn layui-btn-mini " style="background-color: #C57979">查看</span>
                    </a>
                </td>
                <td class="td-status">
                    <a onclick="x_admin_show('银行卡信息','/admin/User/bank_list?username={$vo.username}&utype=1')" href="javascript:;"  title="银行卡信息">
                        <span class="layui-btn layui-btn-mini " style="background-color: #84AF9B">查看</span>
                    </a>
                </td>

                <td class="td-manage">
                    <div class="layui-btn-group">
                        <button class="layui-btn layui-btn-warm layui-btn-sm" onclick="myshow('up',{$vo['uid']},'{$vo['username']}')">上分</button>
                        <button class="layui-btn layui-btn-sm " style="background-color: #5BB75B;" onclick="myshow('down',{$vo['uid']},'{$vo['username']}')">下分</button>
                        <button class="layui-btn layui-btn-sm" onclick="x_admin_show('修改','/admin/User/user_edit?uid={$vo.uid}')">修改</button>
                        <button class="layui-btn layui-btn-danger layui-btn-sm" onclick="member_del(this,{$vo['uid']})">删除</button>
                    </div>
                </td>
            </tr>
        {/volist}

        </tbody>
    </table>
    <div class="page">
        <div>
            {$list->render()|raw}
        </div>
    </div>

</div>
<script>
$(function(){
    $('#my_money').bind('input propertychange', function() {
        var my_money = $('#my_money').val();
        var num=Math.floor(my_money * 100) / 100;
        var res=intToChinese(num);
        $('#big_real_money').html(res);
    });
});
//layui.use(['form','layer'], function(){
//    $ = layui.jquery;
//    form = layui.form;
//});
function myshow(type,uid,username) {
    var type_str;
    var my_describe;

    if(type=='up'){
        type_str='上分';
        $('.my_up_down').addClass('my_red');
    }
    if(type=='down'){
        type_str='下分';
        $('.my_up_down').addClass('my_blue');
    }

    $('#uid').val(uid);
    $('#my_type').val(type);
    $('#my_user_name').html(username);
    $('.my_up_down').html(type_str);
    $(".model").show();
    $('#my_money').focus()
}
function quxiao() {
    $(".model").hide();
    $('#my_money').val('');
    $('#big_real_money').html('零');
    $('.my_up_down').removeClass('my_red my_blue');
}
function tijiao(){
    var uid=$('#uid').val();
    if(!uid){
        alert('参数错误');
        return false;
    }

    var money = $('#my_money').val();
    if(money<=0){
        layer.msg('请输入正确的金额!');
//        alert('请输入正确的金额');
        return false;
    }
    var type=$('#my_type').val();
//    var load = layer.load();
    $.ajax({
        url:"/admin/Api/new_user_money_change",
        data:{uid:uid,money:money,param:type},
        dataType:"json",
        type:"post",
        success:function(res){
//            layer.close(load);
            if(res.status == 1){
                layer.msg('操作成功!',{icon: 1,time:1000},function(){
                    window.location.reload();
                });
            }else{
                layer.msg(res.msg,{icon: 2,time:1000});
            }
        }
    });
    quxiao();
}
function intToChinese ( str ) {
    str = str+'';
    if(str != ''){
        var str_arr = str.split('.')
        str = str_arr[0];
    }
    var len = str.length-1;
    var idxs = ['','十','百','千','万','十','百','千','亿','十','百','千','万','十','百','千','亿'];
    var num = ['零','壹','贰','叁','肆','伍','陆','柒','捌','玖'];
    return str.replace(/([1-9]|0+)/g,function( $, $1, idx, full) {
        var pos = 0;
        if( $1[0] != '0' ){
            pos = len-idx;
            if( idx == 0 && $1[0] == 1 && idxs[len-idx] == '十'){
                return idxs[len-idx];
            }
            return num[$1[0]] + idxs[len-idx];
        } else {
            var left = len - idx;
            var right = len - idx + $1.length;
            if( Math.floor(right/4) - Math.floor(left/4) > 0 ){
                pos = left - left%4;
            }
            if( pos ){
                return idxs[pos] + num[$1[0]];
            } else if( idx + $1.length >= len ){
                return '';
            }else {
                return num[$1[0]]
            }
        }
    });
}


    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
            ,type: 'datetime'

        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
            ,type: 'datetime'

        });
    });
    function user_money_change(id,param){
        layer.prompt({
            formType: 0,
            value: 0,
            title: '请输入金额'

        }, function(value, index, elem){
            var load = layer.load();
            $.ajax({
                url:"/admin/Api/user_money_change",
                data:{uid:id,param:param,money:value},
                dataType:"json",
                type:"post",
                success:function(res){
                    layer.close(load);
                    if(res.status == 1){
                        layer.msg('操作成功!',{icon: 1,time:1000},function(){
                            window.location.reload();
                        });
                    }else if(res.status == 2){
                        layer.msg('余额不足',{icon: 2,time:1000});
                    }else{
                        layer.msg('操作失败!',{icon: 2,time:1000});
                    }
                    layer.close(index);
                }
            })
        });
    }


    /*会员-禁用*/
    function member_stop(obj,id){
        layer.confirm('确认要'+$(obj).attr('title')+'吗？',function(index){
            var load = layer.load();
            var status = 1;
            if($(obj).attr('title')=='设置会员不可登录'){
                status = 2;
            }
            $.ajax({
                url:'/admin/User/user_status_change',
                data:{uid:id,status:status},
                type:'post',
                dataType:'json',
                success:function(res){
                    layer.close(load);
                    if(res['status']==1){
                        if(status==2){
                            //发异步把会员状态进行更改
                            $(obj).attr('title','设置会员可登录').children('span').removeClass('layui-btn-normal').addClass('layui-btn-danger').html('否');
                            layer.msg('已设置会员不可登录!',{icon: 1,time:1000});
                        }else{
                            $(obj).attr('title','设置会员不可登录').children('span').removeClass('layui-btn-danger').addClass('layui-btn-normal').html('是');
                            layer.msg('已设置会员可登录!',{icon: 1,time:1000});
                        }
                    }else{
                        layer.msg('操作失败!',{icon: 2,time:1000});
                    }
                }
            });
        });
    }
    function trade_status(obj,id){
        layer.confirm('确认要'+$(obj).attr('title')+'吗？',function(index){
            var load = layer.load();
            var status = 1;
            if($(obj).attr('title')=='设置会员禁止交易'){
                status = 2;
            }
            $.ajax({
                url:'/admin/User/user_trade_status',
                data:{uid:id,status:status},
                type:'post',
                dataType:'json',
                success:function(res){
                    layer.close(load);
                    if(res['status']==1){
                        if(status==2){
                            //发异步把会员状态进行更改
                            $(obj).attr('title','设置会员可以交易').children('span').removeClass('layui-btn-normal').addClass('layui-btn-danger').html('否');
                            layer.msg('已设置会员禁止交易!',{icon: 1,time:1000});
                        }else{
                            $(obj).attr('title','设置会员禁止交易').children('span').removeClass('layui-btn-danger').addClass('layui-btn-normal').html('是');
                            layer.msg('设置会员可以交易!',{icon: 1,time:1000});
                        }
                    }else{
                        layer.msg('操作失败!',{icon: 2,time:1000});
                    }
                }
            });
        });
    }

    /*会员-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            var load = layer.load();
            //发异步删除数据
            $.ajax({
                url:'/admin/User/user_del',
                data:{uid:id},
                type:'post',
                dataType:'json',
                success:function(res){
                    layer.close(load);
                    if(res['status']==1){
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    }else if(res['status'] == 2){
                        layer.msg('操作失败，ID为'+res['uid']+'的会员余额不为0!',{icon:2,time:2000});
                    }else{
                        layer.msg('操作失败!',{icon: 2,time:1000});
                    }
                }
            });
        });
    }



    function delAll (argument) {

        var data = tableCheck.getData();
        if(data.length==0){
            layer.msg('至少选择一个会员!',{icon:2,time:1000});
            return;
        }
        layer.confirm('确认要删除编号为：'+data+'的会员吗？',function(index){
            //捉到所有被选中的，发异步进行删除
            $.ajax({
                url:'/admin/User/user_del',
                data:{uid:data},
                type:'post',
                dataType:'json',
                success:function(res){
                    if(res['status']==1){
                        $(".layui-form-checked").not('.header').parents('tr').remove();
                        layer.msg('删除成功!',{icon:1,time:1000});
                    }else if(res['status'] == 2){
                        layer.msg('操作失败，ID为'+res['uid']+'的会员余额不为0!',{icon:1,time:2000});
                    }else{
                        layer.msg('操作失败!',{icon: 2,time:1000});
                    }
                }
            });

        });
    }
</script>

</body>

</html>