<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>{$GLOBALS['title']}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
      <link rel="stylesheet" href="/static/admin/css/font.css">
      <link rel="stylesheet" href="/static/admin/css/xadmin.css">
      <script src="/static/index/js/jquery-2.1.1.min.js" charset="utf-8"></script>
      <script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
      <script type="text/javascript" src="/static/admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">订单记录</a>
        <a>
          <cite>平仓记录</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input class="layui-input" placeholder="开始日" name="start" id="start" value="{:input('get.start')}" autocomplete="off">
          <input class="layui-input" placeholder="截止日" name="end" id="end" value="{:input('get.end')}" autocomplete="off">
            <div class="layui-input-inline">
                <select name="pid">
                    <option value="">游戏类型</option>
                    {foreach $product as $val}
                    <option value="{$val.id}" {if condition="input('get.pid') eq $val.id"} selected="selected"{/if}>{$val.name}</option>
                    {/foreach}
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="direction">
                    <option value="">交易方向</option>
                    <option value="1" {if condition="input('get.direction') eq 1"} selected="selected"{/if}>买入</option>
                    <option value="2" {if condition="input('get.direction') eq 2"} selected="selected"{/if}>卖出</option>
                </select>
            </div>
            <input type="text" name="order_sn"  placeholder="单号" autocomplete="off" class="layui-input" value="{:input('get.order_sn')}">
            <input type="text" name="username"  placeholder="会员账号" autocomplete="off" class="layui-input" value="{:input('get.username')}">
            <input type="text" name="agent_name"  placeholder="代理账号" autocomplete="off" class="layui-input" value="{:input('get.agent_name')}">
            <div class="layui-input-inline">
                <select name="page_number">
                    <option value="">当页数量</option>
                    {volist name='page_number' id="val"}
                    <option {if condition="input('get.page_number') eq $val['num']"} selected="selected"{/if} value="{$val['num']}">{$val['num']}</option>
                    {/volist}
                </select>
            </div>
            <button class="layui-btn"  lay-submit="" lay-filter="sreach">查询</button>
            <a href="/admin/Order/order_list?start={$mytime}"  class="layui-btn layui-btn-normal">重置</a>
            <a href="{:url('admin/Api/excel_order_list',input('get.'))}"  class="layui-btn" style="background-color: #337AB7">导出</a>

        </form>
      </div>
        <div class="layui-row">
            <a href="{:url('admin/Order/order_list',input('get.'))}&start={:quick_time_select(1)}&end={:quick_time_select(2)}" class="layui-btn layui-btn-sm layui-btn-normal">昨天</a>
            <a href="{:url('admin/Order/order_list',input('get.'))}&start={:quick_time_select(2)}&end=" class="layui-btn layui-btn-sm layui-btn-normal">今天</a>
            <a href="{:url('admin/Order/order_list',input('get.'))}&start={:quick_time_select(3)}&end=" class="layui-btn layui-btn-sm layui-btn-normal">本周</a>
            <a href="{:url('admin/Order/order_list',input('get.'))}&start={:quick_time_select(4)}&end={:quick_time_select(5)}" class="layui-btn layui-btn-sm layui-btn-normal">上周</a>
            <a href="{:url('admin/Order/order_list',input('get.'))}&start={:quick_time_select(6)}&end=" class="layui-btn layui-btn-sm layui-btn-normal">本月</a>
            <a href="{:url('admin/Order/order_list',input('get.'))}&start={:quick_time_select(7)}&end={:quick_time_select(8)}" class="layui-btn layui-btn-sm layui-btn-normal">上月</a>
        </div>
      <xblock>
          <span class="x-right" style="line-height:40px">合计保证金：{$count.sum_money|number_format=###,2,'.',''};手续费：{$count.sum_fee|number_format=###,2,'.',''};会员盈利：{$count.sum_order_profit|number_format=###,2,'.',''};数量：{$count.count} 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>单号</th>
            <th>产品</th>
            <th>账号</th>
            <th>代理</th>
            <th>保证金</th>
            <th>买入价</th>
            <th>卖出价</th>
              <th>方向</th>
              <th>盈利金额</th>
            <th>建仓时间</th>
            <th>平仓时间</th>
            <th >操作</th>
            </tr>
        </thead>
        <tbody>
            {volist name="list" id="val"}
            <tr>
                 <td>{$val['oid']}</td>
                <td>{$val['product_name']}</td>
                <td>{$val['username']}</td>
                <td>{$val['agent_name']}</td>
                <td>{$val['money']|number_format=###,2,'.',''}</td>
                <td>{$val['buy_price']|number_format=###,2,'.',''}</td>
                <td>{$val['sell_price']|number_format=###,2,'.',''}</td>
                {if ($val['direction'] eq 1)}
                <td style="color: red;">买入</td>
                {else/}
                <td style="color: #008000;">卖出</td>
                {/if}
                {if ($val['profit'] >0)}
                <td style="color: red;">{$val['profit']|number_format=###,2,'.',''}</td>
                {else/}
                <td style="color: #008000;">{$val['profit']|number_format=###,2,'.',''}</td>
                {/if}
                <td>{$val['add_time']}</td>
                <td>{$val['update_time']}</td>
                <td class="td-manage">
                    <a title="查看"  onclick="x_admin_show('订单详情','/admin/Order/order_info?oid={$val.oid}')" href="javascript:;">
                        <i class="layui-icon">&#xe63c;</i>
                    </a>
                   
                </td>
            </tr>
            {/volist}

        </tbody>
      </table>
      <div class="page">
        <div>
            {$list->render()|raw}
        </div>
      </div>

    </div>
    <script>
        layui.use('laydate', function(){
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
                ,type: 'datetime'

            });

            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
                ,type: 'datetime'

            });
        });

        
    </script>
  </body>
</html>