<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>{$GLOBALS['title']}</title>
<meta name="keywords" content="{$GLOBALS['title']}" />
<meta name="description" content="{$GLOBALS['title']}" />
    <link rel="stylesheet" href="/static/mobile/css/weui.min.css">
    <link rel="stylesheet" href="/static/mobile/css/jquery-weui.css">
    <link rel="stylesheet" href="/static/mobile/css/style.css">
</head>
<body ontouchstart>
<!--顶部搜索-->
<!--<header class='weui-header'>-->
    <!--<div class="wy-header-title">{$GLOBALS['title']}</div>-->
<!--</header>-->
<!--主体-->
<div class='weui-content'>
  <!--顶部轮播-->
  <div class="swiper-container swiper-banner">
    <div class="swiper-wrapper">
        {volist name="adv" id="val"}
      <div class="swiper-slide"><a href="{$val.url}"><img src="{$val.image}" style="height: 10rem;" /></a></div>
        {/volist}
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <!--新闻切换-->
  <div class="wy-ind-news" style="background-color: #121524">
    <i class="news-icon-laba"></i>
    <div class="swiper-container swiper-news">
      <div class="swiper-wrapper">
        {volist name="notice_list" id="val"}
            <div class="swiper-slide" >
                <a href="/mobile/Notice/notice_info?id={$val.id}" style="color: white">{$val.title}</a>
            </div>
        {/volist}
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <a href="/mobile/Notice/notice_list" class="newsmore"><i class="news-icon-more"></i></a>
  </div>
  <div class="huodnews clearboth">
      <h2>功能服务</h2>
      <ul>
        <li >
            <a href="/mobile/Index/price">
                <img src="/static/mobile/images/price.png" style="height:5rem"/>
                <p>货币行情</p>
            </a>
        </li>
        <li>
            <a href="/mobile/Trade/index?id=3">
                <img src="/static/mobile/images/trade.png" style="height:5rem"/>
                <p>产品交易</p>
            </a>
        </li>
      </ul>
  </div>
    <div class="weui-panel_access">
        <div class="weui-panel__hd" style="color: white">新闻资讯</div>
        <div class="weui-panel__bd">
            {volist name="news_list" id="val"}
                <div class="weui-media-box weui-media-box_text">
                    <a href="/mobile/Notice/news_info?id={$val.id}">
                        <h4 class="weui-media-box__title" style="color: white">{$val.title}</h4>
                    <p class="weui-media-box__desc">{$val.des}</p>
                    </a>
                </div>
            {/volist}
            <div class="weui-panel__ft" style="padding-bottom: 3rem;">
                <a href="/mobile/Notice/news_list" class="weui-cell weui-cell_access weui-cell_link">
                    <div class="weui-cell__bd" style="color: white">查看更多 </div>
                    <span class="weui-cell__ft"></span>
                </a>
            </div>
        </div>
    </div>

</div>


<!--底部导航-->
<div class="foot-black"></div>
<div class="weui-tabbar wy-foot-menu">
    <a href="/mobile/Index/index" class="weui-tabbar__item weui-bar__item--on">
        <div class="weui-tabbar__icon foot-menu-home"></div>
        <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="/mobile/Index/price" class="weui-tabbar__item">
        <div class="weui-tabbar__icon foot-menu-price"></div>
        <p class="weui-tabbar__label">行情</p>
    </a>
    <a href="/mobile/Trade/index?id=3" class="weui-tabbar__item">
        <div class="weui-tabbar__icon foot-menu-list"></div>
        <p class="weui-tabbar__label">交易中心</p>
    </a>
    <a href="/mobile/Coin/index" class="weui-tabbar__item">
        <div class="weui-tabbar__icon foot-menu-cart"></div>
        <p class="weui-tabbar__label">申购币</p>
    </a>
    <a href="/mobile/User/index" class="weui-tabbar__item">
        <div class="weui-tabbar__icon foot-menu-member"></div>
        <p class="weui-tabbar__label">我的</p>
    </a>
</div>

<script src="/static/index/js/jquery-2.1.1.min.js"></script>
<script src="/static/mobile/js/jquery-weui.js"></script>
<script src="/static/mobile/js/swiper.js"></script>
<script>
	$(".swiper-banner").swiper({
        loop: true,
        autoplay: 3000,

      });
	$(".swiper-news").swiper({
		loop: true,
		direction: 'vertical',
		paginationHide :true,
        autoplay: 2000
      });
	 $(".swiper-jingxuan").swiper({
		pagination: '.swiper-pagination',
		loop: true,
		paginationType:'fraction',
        slidesPerView:3,
        paginationClickable: true,
        spaceBetween: 2
      });
	 $(".swiper-jiushui").swiper({
		pagination: '.swiper-pagination',
		paginationType:'fraction',
		loop: true,
        slidesPerView:3,
		slidesPerColumn: 2,
        paginationClickable: true,
        spaceBetween:2
      });
</script>
</body>
</html>
