* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
a{
    text-decoration: none;
    color:#000;
    font-size:16px;
}
ul, ol, dl {
    list-style-type: none
}
*{margin:0;padding:0;list-style-type:none;}

a,img{border:0;}

body ,html{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
    width:100%;
    height:100%;
}
body{
    font-size: 12px;
}
#bets{
    width:100%;
    min-width: 1200px;
    min-height:100%;
    max-height: 100%;
    background: url('../images/backg.jpg') no-repeat;
    background-size: cover;
    -moz-background-size:100% 100%;;
    -webkit-background-size:100% 100%;;
    -o-background-size:100% 100%;
}
#bets .container{
    margin:0 auto;
    padding:20px 0px;
    width:80%;
    height: 82vh;
    overflow-y: scroll;
}
#bets .container::-webkit-scrollbar{
    display: none;
}
#bets .lists{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-x: hidden;
    /*max-height:650px;*/
    padding:0 8px;
    /*IE滚动条颜色设置*/
    scrollbar-arrow-color:#002944;  /*上下箭头*/
    scrollbar-track-color:#f2f2f3;  /*底层背景色*/
    scrollbar-face-color:#ccc;   /*滚动条前景色*/
    scrollbar-Shadow-color:#ccc; /*滚动条边线色*/
}
/*chrome滚动条颜色设置*/
#bets .lists::-webkit-scrollbar {
    width:2px;
    height:2px;
    background-color:transparent;
} /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
#bets .lists::-webkit-scrollbar-track {
    background-color:#002944;
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgb(211,211,214);
} /*定义滚动条轨道 内阴影+圆角*/
#bets .lists::-webkit-scrollbar-thumb {
    background-color:#CCCCCC;
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgb(211,211,214);
} /*定义滑块 内阴影+圆角*/

#bets .lists li{
    /*width: 560px;*/
    margin-top:10px;
    position: relative;
}
#bets .lists li .Identification{
    position: relative;
    bottom:5px;
    display: inline-block;
    margin-left:10px;
    color:#E1E1E1;
    font-weight: bold;

}
#bets .BoxBorder {
   background: #660000;
    border:2px solid #FFC11C;
    border-radius:10px;
    overflow: hidden;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: flex-start;
    margin-top:-3px;
    box-shadow: 0px 1px 10px 0px #333;
}

/*鼠标放上的效果*/
#bets .lists li .BoxBorder:hover{
    box-shadow: 0px 0px 0px 0px #333;
    border-radius: 10px;
}

#bets .L_left{
    background: url('../images/Fraction.jpg') no-repeat;
    background-size:100% 100%;
    /*-moz-background-size:150px 150px;*/
    /*-webkit-background-size:150px 150px;*/
    /*-o-background-size:150px 150px;*/
    width:150px;
    height:160px;
    margin-top:0px;
    position: relative;
    text-align: center;

}
#bets li > img{
    /*background-size:150px 150px;*/
    /*-moz-background-size:150px 150px;*/
    /*-webkit-background-size:150px 150px;*/
    /*-o-background-size:150px 150px;*/
    display:block;
}
#bets li .tb_title{
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 170px;
    font-size:14px;
    height: 20px;
    line-height: 20px;
    color: #C9C1C1;
    font-weight:bold;
    /*-webkit-mask:linear-gradient(to bottom, #DCDCDC,#787878,#DCDCDC );*/
    background: -webkit-linear-gradient(top, #ffffff,#bfbfbf,#fff5f5); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom,#ffffff,#bfbfbf,#fff5f5); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom,#ffffff,#bfbfbf,#fff5f5); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom,#ffffff,#bfbfbf,#fff5f5); /* 标准的语法 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#bets .L_left > p:first-child{
    margin:6px auto;
    font-size:12px;
    color:#ECECEC;
    font-weight: 600;
}
/*红色字体*/
#bets .L_left > span.redText{
    display: block;
    margin: 25px auto;
    font-size: 38px;
    font-weight: 600;
    background: -webkit-linear-gradient(top, #ffffff,#757171,#fff5f5); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom,#ffffff,#757171,#fff5f5); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom,#ffffff,#757171,#fff5f5); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom,#ffffff,#757171,#fff5f5); /* 标准的语法 */
    -webkit-background-clip: text;
    color: #787878;
    -webkit-text-fill-color: transparent;
    /* -webkit-text-stroke: 1px red; */
}
/*灰色字体*/
#bets .L_left > span.whiteText{
    display: block;
    margin:25px auto;
    font-size:38px;
    font-weight: 600;
    background: -webkit-linear-gradient(top, #DCDCDC,#787878,#DCDCDC); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom,#DCDCDC,#787878,#DCDCDC); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom,#DCDCDC,#787878,#DCDCDC); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom,#DCDCDC,#787878,#DCDCDC); /* 标准的语法 */
    -webkit-background-clip: text;
    color: #B01919;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #ccc;
}
#bets .L_left >div{
    margin:6px auto;
    padding-top: 3px;
    font-size:12px;
    color:#ECECEC;
    /*height:10px;*/
}
#bets .L_left >div > p{
    font-size:14px;
    color: #C9C1C1;
    font-weight:bold;
    /*-webkit-mask:linear-gradient(to bottom, #DCDCDC,#787878,#DCDCDC );*/
    background: -webkit-linear-gradient(top, #ffffff,#989898,#fff5f5); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom,#ffffff,#989898,#fff5f5); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom,#ffffff,#989898,#fff5f5); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom,#ffffff,#989898,#fff5f5); /* 标准的语法 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#bets .L_left >div > span{
    font-size:14px;
    color: #C9C1C1;
    font-weight: bold;
    display: block;
    margin-top:1px;
    background: -webkit-linear-gradient(top, #ffffff,#989898,#fff5f5); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom,#ffffff,#989898,#fff5f5); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom,#ffffff,#989898,#fff5f5); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom,#ffffff,#989898,#fff5f5); /* 标准的语法 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#bets .L_right{
    /*width:400px;*/
    /*height:120px;*/
    margin:10px 2px;
    margin-right: 8px;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px #444;
    background: #fff;
    position: relative;
    background: #540F06;
    /*padding-right: 5px;*/
}

#bets .L_right table{
    /*border: solid #731616;*/
    /*border-width:1px;*/
    border-collapse: collapse;/*关键代码*/
    width: 100%;
    background: #fff;
    position: relative;
    /*top: 50%;*/
    /*margin-top: -70px;*/
}
#bets .L_right table td{
    width:24px;
    height:24px;
    border:solid #731616;
    border-width:1px 1px 0 0;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    position: relative;
}
#bets .L_right table td > div{
    width: 22.5px;
    height: 22.5px;
    border:3px solid #fff;
    display: inline-block;
    /*margin-top: 1px;*/
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    position: absolute;
}
#bets .L_right table td > div p{
    width: 6px;
    height: 6px;
    /*border:1px solid #fff;*/
    display: inline-block;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    position: absolute;
}
#bets .L_right table td > div.red-circle{
    border-color: #BB0100;
}
#bets .L_right table td > div .dt-lt-red{
    border-color: #BB0100;
    background: #BB0100;
    position: absolute;
    top: -2px;
    left: -2px;
}
#bets .L_right table td > div .dt-rt-red{
    border-color: #BB0100;
    background: #BB0100;
    position: absolute;
    top: -2px;
    right: -2px;
}
#bets .L_right table td > div .dt-lb-red{
    border-color: #BB0100;
    background: #BB0100;
    position: absolute;
    left: -2px;
    bottom: -2px;
}
#bets .L_right table td > div .dt-rb-red{
    border-color: #BB0100;
    background: #BB0100;
    position: absolute;
    right: -2px;
    bottom: -2px;
}
#bets .L_right table td > div.blue-circle{
    border-color: #0066CC;
}
#bets .L_right table td > div .dt-lt-blue{
    border-color: #0066CC;
    background: #0066CC;
    position: absolute;
    top: -2px;
    left: -2px;
}
#bets .L_right table td> div .dt-rt-blue{
    border-color: #0066CC;
    background: #0066CC;
    position: absolute;
    top: -2px;
    right: -2px;
}
#bets .L_right table td > div .dt-lb-blue{
    border-color: #0066CC;
    background: #0066CC;
    position: absolute;
    right: -2px;
    bottom: -2px;
}
#bets .L_right table td > div .dt-rb-blue{
    border-color: #0066CC;
    background: #0066CC;
    position: absolute;
    right: -2px;
    bottom: -2px;
}
#bets .L_right table td > div .he{
    height: 100%;
}
#bets .L_right table td > div .he span.he_count{
    width: 100%;
    height: 100%;
    line-height: 85%;
    display: block;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

/*td里的红圈圈*/
#bets .L_right table td .redColor{
    border:2px solid #BB0000;
    width:100%;
    border-radius: 50%;
    height:20px;
}
/*td里的蓝圈圈*/
#bets .L_right table td .blueColor{
    border:2px solid #0066CC;
    width:100%;
    border-radius: 50%;
    height:20px;
}
/*td里的蓝圈圈加字体*/
#bets .L_right table td .blueColorText{
    border:2px solid #0066CC;
    width:100%;
    border-radius: 50%;
    height:20px;
    color:#111;
    text-align: center ;
    font-size:13px;
    line-height: 16px;
    position: relative;
}
/*td里的红圈圈加字体*/
#bets .L_right table td .RedColorText{
    border:2px solid #BB0000;
    width:100%;
    border-radius: 50%;
    height:20px;
    color:#111;
    text-align: center ;
    font-size:13px;
    line-height: 16px;
    position: relative;
}

/*斜线*/
#bets .L_right table td .slantLineBlue{
    float: left;
    width: 14px;
    height: 0;
    border: 1px solid #666666;
    transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -o-transform: rotate(-125deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=0.45);
    position: absolute;
    bottom: 5px;
    right: -1px;
}

/*table遮罩层*/
.hideBox{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    text-align: center;
}

.hideBox span{
    font-size: 34px !important;
    color: #CC0000;
    font-weight: bold;
    letter-spacing: 3px;
    display: inline-block;
    height: auto;
    /* margin: 15% 0; */
    height: 100%;
    line-height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
/*table遮罩层*/


.popup{
    position: absolute;
    top:50%;
    left:50%;
    transform: transLate(-50%,-50%);
    width: 480px;
    height: 255px;
    border:2px solid #D09253;
    background: blue;
    z-index: 10;
    padding:10px;
    display: none;
    background:radial-gradient(farthest-side at bottom right,#0093D6,#006FB2,#005095);
    background: -webkit-radial-gradient(farthest-side at bottom right,#2F4789,#006FB2,#009ADE);
    background: -o-radial-gradient(farthest-side at bottom right,#0093D6,#005095);
    background: -mos-radial-gradient(farthest-side at bottom right,#0093D6,#005095);
    background: -moz-radial-gradient(farthest-side at bottom right,#0093D6,#005095);
    border-radius: 20px;
}

.title{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
     align-items: center;
}
.title p{
    font-size:16px;
    color:#E8E8E8;
}
.title p img{
    width:20px;
    height:20px;
}
body ::-webkit-input-placeholder {
    /* WebKit browsers */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}
body :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}
body ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}
body :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}
.form{
    /*margin-left:64px;*/
}
form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}
form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 300px;
    border-radius: 3px;
    padding: 8px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 16px;
    color: white;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
}
form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
    background-color: white;
    width: 350px;
    color: #53e3a6;
}
form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 8px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width:300px;
    cursor: pointer;
    font-size: 16px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    margin:0 80px;
}
form button:hover {
    background-color: #f5f7f9;
}


.footer{
    position: absolute;
    bottom:5%;
    left:50%;
    transform: translateX(-50%);
    width:68%;
    height:0.35rem;
    line-height: 0.35rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content:space-between;
    border:2px solid #D09253;
    border-radius: 40px;
    padding:0 0 0 0.15rem;
    box-shadow:0px 0px 4px 1px #444 inset;
    /*边框渐变*/
    background:linear-gradient(#0093D6,#005095,#005095);
    background: -webkit-linear-gradient(#0093D6,#005095,#005095);
    background: -o-linear-gradient(#0093D6,#005095,#005095);
    background: -mos-linear-gradient(#0093D6,#005095,#005095);
    background: -moz-linear-gradient(#0093D6,#005095,#005095);
}
.footer ul{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content:flex-start;
}
.footer ul.f_left li{
    margin: 0 0.15rem;
}
.footer ul.f_left li img{
    width: 0.25rem;
    height: 0.25rem;
    margin-top: 0.03rem;
    display: inline-block !important;
    vertical-align: top;
}
.footer ul.f_left li span{
    display: inline-block;
    margin-left: 0.08rem;
    height: 0.35rem;
    line-height: 0.35rem;
    margin-top: -2px;
    vertical-align: top;
}
.footer ul.f_left li:first-child span{
    font-size:0.16rem;
    color:#E20001;
    font-weight:600;
    display: inline-block;
}
.footer ul.f_left li:nth-child(2),li:nth-child(3) span{
    font-size:0.14rem;
    display: inline-block;
}
.footer ul.f_right li{
    margin-right:10px;
    position: relative;
    width:70px;

}
.footer ul.f_right li:first-child img,.footer ul.f_right li:nth-child(4) img{
    width: 0.9rem;
    left:-0.25rem;
}.footer ul.f_right li img{
    width: 0.6rem;
    height: 0.55rem;
    position: absolute;
    top: -0.25rem;

}
.footer ul.f_right li.openPassword{
    margin: 0;
    margin-left: -10px;
}
.footer ul.f_right li.openPassword a{
    width: 100%;
    height: 0.35rem;
    display: inline-block;
    position: relative;
    top: 0;
    vertical-align: top;
    /*left: 30px;*/
    /*padding: 2px;*/
}
.footer ul.f_right li.openPassword a div{
    width: 0.3rem;
    height: 0.3rem;
    /*padding: 2px;*/
    box-sizing: border-box;
    display: inline-block;
}
.footer ul.f_right li.openPassword a img{
    width: 100%;
    height: 100%;
    margin: 1px;
    /* top: 5px; */
    position: static;
}
.footer ul.f_right li:last-child  p{
    font-size:0.14rem;
    display: inline-block;
    height: 0.3rem;
    line-height: 0.3rem;
    color:#fff;
    vertical-align: top;
}
.nextPage{
    position: absolute;
    right:10%;
    bottom:8%;
}
.nextPage span{
    display: inline-block;
    vertical-align: middle;
    font-size:0.14rem;
    color:#fff;
}
.nextPage img{
    display: inline-block;
    vertical-align: middle;
    width:0.15rem;
    height:0.15rem;
}


@media screen and (max-width: 1680px){
    #bets .container {
        width: 1200px;
    }
    #bets .lists{
        width: 1200px;
    }
    #bets .L_right table td{
        width: 21px;
        height: 21px;
    }
    #bets .L_right{
        margin: 12px 3px;
        margin-right: 5px;
    }
    #bets .L_right table td > div{
        width: 20px;
        height: 20px;
    }
    #bets .L_right table td .slantLineBlue{
        width: 12px;
        bottom: 3px;
        right: -2px;
    }
    #bets .L_left >div > p,#bets .L_left >div > span{
        font-size: 12px;
    }
    #bets .L_left > span.redText{
        margin: 23px auto;
    }

    #bets .L_left{
        height: 150px;
    }
    .footer{
        width: 88%;
        height: 32px;
    }
    .footer ul.f_left li img{
        width: auto;
        height: 92%;
    }
    .footer ul.f_left li span{
        height: 30px;
        line-height: 30px;
        font-size: 14px !important;
    }
    .footer ul.f_left li:first-child span{
        font-size: 16px !important;
    }
    .footer ul.f_right li img{
        height: 55px;
        width: 60px;
        top:-25px
    }
    .footer ul.f_right li:first-child img{
        width: 90px;
    }
    .footer ul.f_right li.openPassword a{
        height: 30px;
        line-height: 30px;
    }
    .footer ul.f_right li.openPassword a div{
        height: 26px;
        width: 26px;
    }
    .footer ul.f_right li:last-child p{
        height: 30px;
        line-height: 30px;
        font-size: 14px;
    }
}





























