* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
a{
    text-decoration: none;
    color:#000;
    font-size:16px;
}
ul, ol, dl {
    list-style-type: none
}
*{margin:0;padding:0;list-style-type:none;}

a,img{border:0;}

body ,html{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
    width:100%;
    height:100%;
}
#betting{
    width:100%;
    height:100%;
    background: url('../images/backg.jpg') no-repeat;
    background-size: cover;
    -moz-background-size:100% 100%;;
    -webkit-background-size:100% 100%;;
    -o-background-size:100% 100%;
}
.container{
    width:1200px;
    margin:0 auto;
}
.Upper_part{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    background: linear-gradient(#A290D6,#e8e8e8,#A290D6);
    background: -webkit-linear-gradient(#A290D6,#e8e8e8,#A290D6);
    background: -o-linear-gradient(#A290D6,#e8e8e8,#A290D6);
    background: -mos-linear-gradient(#A290D6,#e8e8e8,#A290D6);
    background: -moz-linear-gradient(#A290D6,#e8e8e8,#A290D6);
    height:498px;

    padding:5px;
}
.Upper_part .bet_left{
    width:750px;
    position: relative;
}
.Upper_part .bet_left img,.Upper_part .bet_left video{
    width:100%;
    height:100%;
}
.Upper_part .bigScreen{
    height:488px;
    position: relative;
}
.Upper_part .smallScreen{
    width:200px;
    height:200px;
    position: absolute;
    top:0;
    left:0;
    background: #fff;
    border:1px solid transparent;
    z-index: 10;
}
.Upper_part .smallScreen video{
    width:200px;
    height:200px;
}
.Upper_part .bet_right{
    width:450px;
    background: #47386C;
}
.Upper_part .bet_right .cont_top{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: flex-start;
}
.Upper_part .bet_right .right_NO{
    width:150px;
    border:2px solid #D09253;
    box-shadow: 0 0 5px 1px #444 inset;
    border-radius:8px;
    text-align: center;
    background:radial-gradient(farthest-side at bottom right,#0093D6,#006FB2,#005095);
    background: -webkit-radial-gradient(farthest-side at bottom right,#2F4789,#006FB2,#009ADE);
    background: -o-radial-gradient(farthest-side at bottom right,#0093D6,#005095);
    background: -mos-radial-gradient(farthest-side at bottom right,#0093D6,#005095);
    background: -moz-radial-gradient(farthest-side at bottom right,#0093D6,#005095);
}
.Upper_part .bet_right .right_NO span.redText{
    display: block;
    margin:10px auto 0;
    font-size:45px;
    font-weight: 600;
    background: -webkit-linear-gradient(#B01919,#ccc,red);
    -webkit-background-clip: text;
    color: #B01919;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px red;
}
.Upper_part .bet_right .right_NO >div{
    margin-top:10px;
}
.Upper_part .bet_right .right_NO >div > p{
    font-size:16px;
    background: -webkit-linear-gradient(#e8e8e8,#C9C1C1);
    -webkit-background-clip: text;
    color: #C9C1C1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #C9C1C1;
}
.Upper_part .bet_right .right_NO >div > span{
    font-size:12px;
    background: -webkit-linear-gradient(#e8e8e8,#C9C1C1);
    -webkit-background-clip: text;
    color: #C9C1C1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #C9C1C1;
}
.Upper_part .bet_right ul{
   width:125px;
}
.Upper_part .bet_right .cont_top ul li{
    height:30px;
    line-height: 30px;
    border-top:2px solid #52407D;
    font-size:12px;
    padding-left:10px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.Upper_part .bet_right p.rightways{
    width:40px;
    border-left:1px solid #52407D;
    border-right:1px solid #52407D;
    text-align: center;
    padding:6px 4px;
    line-height:30px;
    font-size:16px;
}

.Upper_part .bet_right .cont_middle>ul{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width:450px;
    border-top:2px solid #52407D;
}
.Upper_part .bet_right .cont_middle>ul>li:first-child{
    width:100%;
}
.Upper_part .bet_right .cont_middle>ul>li{
    width:50%;
    text-align: center;
    border-right:1px solid #52407D;
    border-bottom:1px solid #52407D;
    padding: 15px 0;
    position: relative;
}
.Upper_part .bet_right .cont_middle>ul li .mask{
    position: absolute;
    top:0;
    left:0;
    background: rgb(255,255,255);
    opacity: 0.2;
    z-index: 10;
    width:100%;
    height:100%;
    /*display: none;*/
}

.Upper_part .bet_right .cont_middle>ul>li p{
    font-size:24px;
    text-shadow:1px 1px 2px #fff;
    font-weight:bold;
}
.Upper_part .bet_right .cont_middle>ul>li span{
    font-size:12px;
    display: block;
    margin-top:10px;
    color:#EBEAEF;
}
.Upper_part .bet_right .cont_middle>ul li p.blueLi{
    color:#0A4EFF;
}
.Upper_part .bet_right .cont_middle>ul li p.peace{
    color:#249113;
}
.Upper_part .bet_right .cont_middle>ul li p.grave{
    color:#F61500;
}
.Upper_part .bet_right .cont_middle>ul li:nth-child(4),
.Upper_part .bet_right .cont_middle>ul li:nth-child(5){
    width: 50%;
}
.Upper_part .bet_right .cont_middle .half{
    width: 50%;
}
.Upper_part .bet_right .cont_end  .top{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-around;
    width:450px;
}
.Upper_part .bet_right .cont_end p{
    width:33%;
    height:100px;
    line-height: 100px;
    /*border:1px solid #000;*/
    text-align: center;
    margin-top:8px;
}
.Upper_part .bet_right .cont_end  p img{
    width:75px;
    height:65px;
    margin-top:10px;
}
.Upper_part .bet_right .cont_end  p:nth-child(2) img{
    width:70px;
    height:70px;
    margin-top:0px;
}
.Upper_part .bet_right .cont_end .end_footer{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-around;
    width:450px;
}
.Upper_part .bet_right .cont_end .end_footer li{
    width:15%;
    text-align:center ;
    border-radius: 50%;
 }
.Upper_part .bet_right .cont_end .end_footer li.active img{
    box-shadow: 1px 1px 10px 0 #fff;
    border-radius: 50%;
}

.Upper_part .bet_right .cont_end .end_footer li img{
   width:100%;
   height:90%;
}

.onoffswitch {
    position: relative;
    width: 55px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 15px;
    padding: 0;
    line-height: 15px;
    font-size: 10px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "大";
    padding-left: 13px;
    background-color: #4FACDB;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "小";
    padding-right: 13px;
    background-color: #F50E4C;
    color: #FAFAFA;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 21px;
    margin: 1.5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 30px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.topFooter{
    width:740px;
    position: absolute;
    bottom:0;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}
.topFooter li{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
}
.topFooter li:first-child p{
    width:55px;
    text-align: center;
    height:20px;
    line-height: 20px;
    font-size:12px;
    color:#fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-right:5px;
}

.topFooter li:nth-child(2){
    /*width:400px;*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height:25px;
    margin:0 10px;
    background:#190C08;
    padding:0 6px;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-around;
}
.topFooter li:nth-child(2) .radioGtouip{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: center;
    margin-right:3px;
    line-height: 20px;
}

.topFooter li:nth-child(2) .radioGtouip span{
    font-size:12px;
}
.topFooter li:nth-child(2)  .radioGtouip label{
    color:#fff;
    font-size:10px;
    display: inline-block;
    vertical-align: middle;
}
.topFooter li:nth-child(2)  .radioGtouip label input{
    margin:3px 2px;
    display: inline-block;
    vertical-align: middle;
}
.videoScreen label{
    color:#fff;
    font-size:10px;
    display: inline-block;
    vertical-align: middle;
}
.topFooter li:nth-child(2)  .videoScreen label input{
    margin:3px 2px;
    display: inline-block;
    vertical-align: middle;
}
.topFooter li:nth-child(3) p{
    /*width:60px;*/
    text-align: center;
    /*height:20px;*/
    /*line-height: 20px;*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-right:5px;
    background:radial-gradient(#006FB2,#0093D6);
    background: -webkit-radial-gradient(#006FB2,#0093D6);
    background: -o-radial-gradient(#0093D6,#006FB2,#005095);
    background: -mos-radial-gradient(#0093D6,#006FB2,#005095);
    background: -moz-radial-gradient(#0093D6,#006FB2,#005095);
}
.topFooter li:nth-child(3) p a{
    font-size:12px;
    color:#fff;
}
.tableList{
    width: 1200px;
    /*height:194px;*/
    background: #FFE5CC;
    border:1px solid #AA665B;
}
.tableList ul{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: flex-start;
}
.tableList ul li{
    /*height:194px;*/
}
.tableList ul li:first-child td{
    width:32px;
    height:32px;
    border:solid #731616;
    border-width:1px 0px 0px 1px;
}
.tableList ul li table{
    border: solid #731616;
    border-width:0px 1px 1px 0px;
}

.tableList > ul li:nth-child(2){
    /*border-bottom:3px solid #000;*/
}
.tableList > ul li:nth-child(2) td{
    width:16px;
    height:16px;
    border:solid #731616;
    border-width:1px 0px 0px 1px;
}

.tableList> ul li:nth-child(3)>div:first-child{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding:2px 5px;
    width:162px;
    text-align: center;
}
.tableList > ul li:nth-child(3)>div:first-child p{
    font-size:10px;
    color:#000;
    /*line-height: 20px;*/
    margin-left:5px;
}
.tableList > ul li:nth-child(3) > div:nth-child(2){
    border-top:1px solid #731616;
    border-bottom:1px solid #731616;
    padding:5px;
}
.tableList > ul li:nth-child(3)>div:nth-child(2) p{
    font-size:10px;
    color:#000;
    line-height: 20px;
    margin-left:5px;
}
.tableList > ul >li:last-child{
    border:1px solid #AA665B;
    width:218px;
}
.tableList > ul .endDiv> div{
    margin-top:4px;
    margin-left:5px;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: flex-start;
}
.tableList > ul .endDiv> div p{
    margin-left:5px;
}
.tableList> ul .endDiv> div span{
    font-size:10px;
    color:#000;
}
.tableList .rightUl{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background: #6C1B00;
    /*IE滚动条颜色设置*/
    scrollbar-arrow-color:#f2f2f3;  /*上下箭头*/
    scrollbar-track-color:#002944;  /*底层背景色*/
    scrollbar-face-color:#ccc;   /*滚动条前景色*/
    scrollbar-Shadow-color:#ccc; /*滚动条边线色*/
    height:190px;
    overflow-x: hidden;
}
.tableList .rightUl li{
    /*width:120px;*/
    border:1px solid #6C1B00;
    height: 21.2px;
    line-height: 19.6px;
    border-radius: 4px;
}
/*chrome滚动条颜色设置*/
.tableList .rightUl::-webkit-scrollbar {
    width:2px;
    height:2px;
    background-color:transparent;
} /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.tableList .rightUl::-webkit-scrollbar-track {
    background-color:#002944;
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgb(211,211,214);
} /*定义滚动条轨道 内阴影+圆角*/
.tableList .rightUl::-webkit-scrollbar-thumb {
    background-color:#CCCCCC;
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgb(211,211,214);
} /*定义滑块 内阴影+圆角*/
.rightUl li a{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: flex-start;
}
.rightUl li a p{
    text-align: center;
    width:52px;
    color:#fff;
    font-size:10px;
    border-radius: 4px;
}
.rightUl li a p:first-child{
    background: #F4A868;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}
.rightUl li a p:last-child{
    background: #FFC756;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}
/*赔码的样式*/
.rightUl .lossP1{
    background: #B7B7B7 !important;
    color:#BA0000;
    font-weight: 600;
}
.rightUl .lossP2{
    background: #C8C8C8  !important;
    /*color:#BA0000;*/
}

/*表格里面的标识/!**!/*/
/*小小小td里的红圈圈*/
.tableList   p.redColor{
    border:2px solid #BB0000;
    width:14px;
    border-radius: 50%;
    height:15px;
    position:relative;
}
/*小小小td里的蓝圈圈*/
.tableList   p.blueColor {
    border:2px solid #0066CC;
    width:14px;
    border-radius: 50%;
    height:15px;
    position:relative;
}
/*td里的蓝蓝蓝蓝圈圈和字体*/
.tableList .blueColorText{
    border:2px solid #0066CC;
    width:14px;
    border-radius: 50%;
    height:15px;
    color:#111;
    text-align: center ;
    font-size:10px;
    line-height: 11px;
    position: relative;
}
/*td里的红红红红红圈圈和字体*/
.tableList .RedColorText{
    border:2px solid #BB0000;
    width:14px;
    border-radius: 50%;
    height:15px;
    color:#111;
    text-align: center ;
    font-size:10px;
    line-height: 11px;
    position: relative;
}
/*字体圈圈里面的斜线*/
.tableList .roundSlantLine{
    float: left;
    width: 9px;
    height: 0;
    border: 1px solid #666666;
    transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -o-transform: rotate(-125deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=0.45);
    position: absolute;
    bottom: 3px;
    right: -2px;
}

/*td里实心红圈圈*/
.tableList   p.redColorCircle{
    border:2px solid #BB0000;
    width:14px;
    border-radius: 50%;
    height:15px;
    background: #BB0000;
}
/*td里的实心蓝圈圈*/
.tableList   p.blueColorCircle {
    border:2px solid #0066CC;
    width:14px;
    border-radius: 50%;
    height:15px;
    background: #0066CC;
}
/*圈圈山有红红红红红点的*/
.tableList  .dotRed{
    display: inline-block;
    position:absolute;
    top: -2px;
    left: 0px;
    border:2px solid #BB0000;
    border-radius:50%;
}
/*圈圈山有蓝蓝蓝蓝蓝蓝点的*/
.tableList  .dotBlue{
    display: inline-block;
    position:absolute;
    bottom: -2px;
    right: 0px;
    border:2px solid #0066CC;
    border-radius:50%;
}
/*大一点表格里的东西*/
/*大的红红红红红红圈圈 和字体*/
.tableList   p.bigRedColor {
    border: 3px solid #BB0000;
    width: 31px;
    border-radius: 50%;
    height: 31px;
    color: #BB0000;
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    line-height: 23px;
    position:relative;
}
/*大的蓝蓝蓝蓝蓝蓝蓝蓝圈圈*/
.tableList p.bigBlueColor {
    border: 3px solid #0066CC;
    width: 31px;
    border-radius: 50%;
    height: 31px;
    color: #0066CC;
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    line-height: 23px;
    position:relative;
}
/*和字 的绿色大圈圈*/
.tableList p.bigGreenColor {
    border: 3px solid #3B8C00;
    width: 31px;
    border-radius: 50%;
    height: 31px;
    color: #3B8C00;
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    line-height: 23px;
    position:relative;
}

/*圈圈上有蓝蓝蓝蓝蓝蓝点的*/
.tableList  .BigDotBlue{
    display: inline-block;
    position:absolute;
    bottom: -1px;
    right: 1px;
    border:3px solid #0066CC;
    border-radius:50%;
    box-shadow: 0 0 2px 1px #fff;
}
.tableList  .BigDotRed{
    display: inline-block;
    position:absolute;
    top: -1px;
    left:0;
    border:3px solid #BB0000;
    border-radius:50%;
    box-shadow: 0 0 2px 1px #fff;
}

/*一个 td 里面 ④个小圆圆*/
/*空心蓝色小圈*/
.tableList .smallBlueHollow{
    border:1px solid #0066CC;
    width:6px;
    border-radius: 50%;
    height:6px;
    margin:0.2px;
    float:left;
}
/*空心红色小圈*/
.tableList .smallRedHollow{
    border:1px solid #BB0000;
    width:0.07rem;
    height: 0.07rem;
    margin: 0.01rem;
    border-radius: 50%;
    float:left;
    float:left;
}
/*实心蓝色小圈*/
.tableList .smallBlueHollowSolid{
    width:0.07rem;
    height: 0.07rem;
    margin: 0.01rem;
    border-radius: 50%;
    float:left;
    background:#0066CC ;
}
/*实心红色小圈*/
.tableList .smallRedHollowSolid{
    border:none;
    width:0.07rem;
    height: 0.07rem;
    margin: 0.01rem;
    border-radius: 50%;
    float:left;
    background: #BA0000;
}

/*占位置的透明框*/
.tableList .opacityBorder{
    border:none;
    /*width:6px;*/
    border-radius: 50%;
    /*height:6px;*/
    /*margin:0.2px;*/
    float:left;
    background: transparent;
}

/*斜线*/
.tableList .slantLineBlue{
   float:left;
   width:6px;
   height:0;
   border:1px solid #0066CC;
   transform:rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);/*Safari 4+,Google Chrome 1+  */
    -moz-transform: rotateZ(-45deg);/*Firefox 3.5+*/
    -o-transform:rotate(-45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=0.45);
}

.tableList .slantLineRed{
    float:left;
    width:6px;
    height:0;
    border:1px solid #BB0000;
    transform:rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);/*Safari 4+,Google Chrome 1+  */
    -moz-transform: rotateZ(-45deg);/*Firefox 3.5+*/
    -o-transform:rotate(-45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=0.45);
    margin-top:6px;
}
/*显示说明的斜线*/
.endDiv .showSlantLineBlue{
    float:left;
    width:14px;
    height:0;
    border:1px solid #0066CC;
    transform:rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);/*Safari 4+,Google Chrome 1+  */
    -moz-transform: rotateZ(-45deg);/*Firefox 3.5+*/
    filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=0.45);
    margin-top:6px;
}
.endDiv .showSlantLineRed{
    float:left;
    width:14px;
    height:0;
    border:1px solid #BB0000;
    transform:rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);/*Safari 4+,Google Chrome 1+  */
    -moz-transform: rotateZ(-45deg);/*Firefox 3.5+*/
    filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=0.45);
    margin-top:6px;
}
/*其他玩法的样式*/
.selectItems a{
    color:#fff;
    /*padding-left:15px;*/
    font-size:14px;
    text-align:center;
}
.selectItems select{
    width:103px;
    text-align: center;
    background: #F4A868;
    color:#fff;
    padding-left:5px;
}

