<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!-- 让360双核浏览器用webkit内核渲染页面 -->
    <meta name="renderer" content="webkit">
    <title>内部学习系统</title>

    <link rel="stylesheet" href="/static/admin/css/font.css">
    <link rel="stylesheet" href="/static/admin/css/xadmin.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/personCenter.css">
    <script src="/static/index/js/jquery-2.1.1.min.js" charset="utf-8"></script>
    <script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="__STATIC__/index/js/html5shiv.js"></script>
    <script src="__STATIC__/index/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if(clientWidth>=1920){
                        docEl.style.fontSize = '100px';
                    }else{
                        docEl.style.fontSize = 100 * (clientWidth / 1920) + 'px';
                    }
                };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>

</head>
<body>
    <div id="personCenter">
        <div class="container">
            <div class="header" >
                <div>
                    <img src="__STATIC__/index/images/logo.png" alt=""/>
                </div>
                <div>
                    <p>{$info.nickname}</p>
                    <p>账 &nbsp;&nbsp号：{$info.username}</p>
                    <p>余 &nbsp;&nbsp额：￥{$info.money|number_format=###,2,'.',''}元 </p>
                </div>
                <div style="width: 70%;"></div>
                <div >
                    <a href="javascript:history.go(-1);" class="layui-btn layui-btn-warm">返回</a>
                </div>
            </div>
            <div class="x-body">
                <div style="padding: 20px; background-color: #F2F2F2;">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="weui-media-box weui-media-box_text" style="text-align: center;">
                                    <div class="layui-card-body">
                                        请用手机浏览器扫描二维码安装
                                        <img style="width: 3rem;height: 3rem;" src="/download/pc1.jpg" alt=""/>
                                    </div>
                                    <div class="layui-card-body">
                                        或手机浏览器访问
                                       <b>https://vtrep.cn/tlgj</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>