<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>aioq.cn艾比特数字资产价值兑换交易平台_区块链服务平台【艾比特】</title>
    <meta name="Keywords" content="aioq.cn艾比特数字资产价值兑换交易平台_区块链服务平台">
    <meta name="Description" content="aioq.cn艾比特交易平台是数字资产价值兑换交易平台，坚持为数字资产交易者提供，专业、安全、快捷的交易服务。">
    <meta name="author" content="aioq.cn">
    <meta name="coprright" content="aioq.cn">
    <link rel="shortcut icon" href="/favicon.ico"/>

    <link rel="stylesheet" href="/static/index/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/index/css/style.css" id="theme"/>
    <link rel="stylesheet" href="/static/index/css/common.css"/>
    <script type="text/javascript" src="/static/index/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/layer/layer.js"></script>
</head>

<body lang="zh-CN">
<!--[if lt IE 10]>
<div id="kie-bar" class="kie-bar ">
    您现在使用的浏览器版本过低，可能会导致浏览效果和信息的缺失。 建议立即升级到
    <a href="http://rj.baidu.com/soft/detail/14917.html" target="_blank" title="免费升级至IE8浏览器">IE 10+</a> 或
    <a href="http://rj.baidu.com/soft/detail/14744.html" target="_blank" title="免费升级至360安全浏览器">谷歌浏览器</a> 或
    <a href="http://rj.baidu.com/soft/detail/17451.html" target="_blank" title="免费升级至360安全浏览器">360安全浏览器</a> ，安全更放心！
</div><![endif]-->
<div id="mollymobi_header" style="z-index: 999;min-width: 1200px;width:100%;">
    <div class="header">
        <div class="header-content">
            <ul class="trade-status">

                <li style="padding: 0px 10px 0px 0px;">
                    <i class="fa fa-home fa-lg left move mr5"></i>
                    <span>欢迎来到aioq.cn艾比特数字资产价值兑换交易平台-区块链服务平台</span>
                </li>
            </ul>
            <ul class="user-status">

                <li>
                    <i class="fa fa-user left move fz_16"></i>
                    <a href="/index/User/index" class="ma-l move"> {$username}</a>
                </li>

                <li>
                    <a href="/index/Login/logout" class="darker" style="color:#4f94e7">安全退出</a>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="common-nav">
    <div class="nav-bar">
        <div class="logo" style="margin-top: 12px;">
            <a href="/index/Index/index" class="xiaozhu-logo">
                <img src="/static/index/images/ABT.png" alt="" style="width: 50%;"/>
            </a>
        </div>
        <div class="nav-content">
            <ul class="common-nav-list">
                <li>
                    <a href="/index/Index/index">首页</a>
                </li>
                <li>
                    <a href="/index/Trade/index">交易中心
                    </a>
                </li>
                <li>
                    <a href="/index/Coin/index">申购币</a>
                </li>
                <li>
                    <a href="/index/Notice/index">公告中心</a>
                </li>
                <li>
                    <a href="/index/Notice/help">帮助中心</a>
                </li>
                <li>
                    <a href="/index/Notice/about_us">关于我们</a>
                </li>
                <li>
                    <a href="/index/User/index">个人中心</a>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="autobox">
    <div class="now">
        <i class="fa fa-home fa-lg move mr5"></i>
        <a href="/index/Index/index" class="">首页</a> &gt;
        <a href="/index/User/coin" class="">我的申购币 </a>
    </div>
    <div class="assets_center clear po_re ">
        <div class="left-nav-bar" id="left-nav-bar">
            <div class="left-nav-slider">
                <dl class="nav-tab-list">

                    <dt>
                        <a href="/index/User/index"><i class="fa fa-support mr10"></i>个人中心</a>
                    </dt>
                    <dt class="nav-tab-hover hover1"></dt>
                    <dd >
                        <a href="/index/User/real_auth">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>实名认证
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/bank_list">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>我的银行卡
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>

                    <dd >
                        <a href="/index/User/recharge">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>账户充值
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd>
                        <a href="/index/User/withdraw">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>我要提现
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd>
                        <a href="/index/User/withdraw_list">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>提现记录
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/money_list">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>资金记录
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>

                    <dd >
                        <a href="/index/User/order_list">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>平仓记录
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/invite">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>邀请好友
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/friends">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>我的好友
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/coin">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>我的申购币
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/coin_order_list">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>申购币购买记录
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/coin_give_list">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>申购币获赠记录
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/re_pwd">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>修改密码
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>

                </dl>
            </div>
        </div>
        <link rel="stylesheet" href="/static/admin/css/xadmin.css">
        <div class="assets_content w900 right bg_w mh1500" >
            <h1>我的申购币 </h1>
            <div class="new_list">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>币名</th>
                        <th>数量</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="vo"  }
                    <tr>
                        <td>{$vo.apply_coin_name}</td>
                        <td>{$vo.amount|number_format=###,2,'.',''}</td>
                    </tr>
                    {/volist}

                    </tbody>
                </table>
        </div>
        </div>
    </div>
</div>
</body>
</html>