<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>aioq.cn艾比特数字资产价值兑换交易平台_区块链服务平台【艾比特】</title>
    <meta name="Keywords" content="aioq.cn艾比特数字资产价值兑换交易平台_区块链服务平台">
    <meta name="Description" content="aioq.cn艾比特交易平台是数字资产价值兑换交易平台，坚持为数字资产交易者提供，专业、安全、快捷的交易服务。">
    <meta name="author" content="aioq.cn">
    <meta name="coprright" content="aioq.cn">
    <link rel="shortcut icon" href="/favicon.ico"/>

    <link rel="stylesheet" href="/static/index/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/index/css/style.css" id="theme"/>
    <link rel="stylesheet" href="/static/index/css/common.css"/>
    <script type="text/javascript" src="/static/index/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/layer/layer.js"></script>
    <script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/admin/js/xadmin.js"></script>
</head>

<body lang="zh-CN">
<!--[if lt IE 10]>
<div id="kie-bar" class="kie-bar ">
    您现在使用的浏览器版本过低，可能会导致浏览效果和信息的缺失。 建议立即升级到
    <a href="http://rj.baidu.com/soft/detail/14917.html" target="_blank" title="免费升级至IE8浏览器">IE 10+</a> 或
    <a href="http://rj.baidu.com/soft/detail/14744.html" target="_blank" title="免费升级至360安全浏览器">谷歌浏览器</a> 或
    <a href="http://rj.baidu.com/soft/detail/17451.html" target="_blank" title="免费升级至360安全浏览器">360安全浏览器</a> ，安全更放心！
</div><![endif]-->
<div id="mollymobi_header" style="z-index: 999;min-width: 1200px;width:100%;">
    <div class="header">
        <div class="header-content">
            <ul class="trade-status">

                <li style="padding: 0px 10px 0px 0px;">
                    <i class="fa fa-home fa-lg left move mr5"></i>
                    <span>欢迎来到aioq.cn艾比特数字资产价值兑换交易平台-区块链服务平台</span>
                </li>
            </ul>
            <ul class="user-status">

                <li>
                    <i class="fa fa-user left move fz_16"></i>
                    <a href="/index/User/index" class="ma-l move"> {$username}</a>
                </li>

                <li>
                    <a href="/index/Login/logout" class="darker" style="color:#4f94e7">安全退出</a>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="common-nav">
    <div class="nav-bar">
        <div class="logo" style="margin-top: 12px;">
            <a href="/index/Index/index" class="xiaozhu-logo">
                <img src="/static/index/images/ABT.png" alt="" style="width: 50%;"/>
            </a>
        </div>
        <div class="nav-content">
            <ul class="common-nav-list">
                <li>
                    <a href="/index/Index/index">首页</a>
                </li>
                <li>
                    <a href="/index/Trade/index">交易中心
                    </a>
                </li>
                <li>
                    <a href="/index/Coin/index">申购币</a>
                </li>
                <li>
                    <a href="/index/Notice/index">公告中心</a>
                </li>
                <li>
                    <a href="/index/Notice/help">帮助中心</a>
                </li>
                <li>
                    <a href="/index/Notice/about_us">关于我们</a>
                </li>
                <li>
                    <a href="/index/User/index">个人中心</a>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="autobox">
    <div class="now">
        <i class="fa fa-home fa-lg move mr5"></i>
        <a href="/index/Index/index" class="">首页</a> &gt;
        <a href="/index/User/real_auth" class="">实名认证 </a>
    </div>
    <div class="assets_center clear po_re ">
        <div class="left-nav-bar" id="left-nav-bar">
            <div class="left-nav-slider">
                <dl class="nav-tab-list">
                    <dt>
                        <a href="/index/User/index"><i class="fa fa-support mr10"></i>个人中心</a>
                    </dt>
                    <dt class="nav-tab-hover hover1"></dt>
                    <dd >
                        <a href="/index/User/real_auth">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>实名认证
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/bank_list">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>我的银行卡
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>

                    <dd >
                        <a href="/index/User/recharge">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>账户充值
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd>
                        <a href="/index/User/withdraw">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>我要提现
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd>
                        <a href="/index/User/withdraw_list">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>提现记录
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/money_list">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>资金记录
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>

                    <dd >
                        <a href="/index/User/order_list">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>平仓记录
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/invite">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>邀请好友
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/friends">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>我的好友
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/coin">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>我的申购币
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/coin_order_list">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>申购币购买记录
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/coin_give_list">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>申购币获赠记录
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/re_pwd">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>修改密码
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>

                </dl>
            </div>
        </div>
        <style>
            .new_list ul li {
                width: 100%;
                padding: 10px 0;
                border-bottom: 1px solid #d9d9d9;
            }

            .new_list ul li label {
                font-size: 16px;
                margin-right: 15px;
            }

            .new_list ul li input {
                border: none;
                outline: none;
                background: none;
                font-size: 16px;
                color: black;
                width: 60%;
            }

            .rows {
                margin-top: 15px;
                border-bottom: 1px solid #d9d9d9;
                padding: 10px 0;
            }

            .rows button {
                text-align: center;
                font-size: 16px;
                padding: 10px 0;
                width: 80%;
                margin-left: 10%;
                color: white;
                background: #1AAD19;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                outline: none;
                border: none;
            }

            .config {
                margin-top: 25px;
            }

            .config p {
                font-size: 14px;
                color: black;
                padding: 4px 0;
            }
        </style>
        <div class="assets_content w900 right bg_w mh1500">
            <h1>实名认证</h1>

            <form method="post" class="layui-form" >
                <div class="new_list">
                    {if $real_info['status']==1}
                    <ul>
                        <li>
                            <label>手机号码</label>
                            <input type="text"  value="{$info.username}" readonly/>
                        </li>
                        <li>
                            <label>真实姓名</label>
                            <input type="text"  value="{$real_info.name}" readonly  />
                        </li>
                        <li>
                            <label>身份证号</label>
                            <input type="text"  value="{$real_info.card}"  readonly />
                        </li>
                        <li>
                            <label>发起时间</label>
                            <input type="text"  value="{$real_info.add_time}"  readonly />
                        </li>
                    </ul>
                    <div class="rows" style="text-align: center">
                        <input type="button" class="btns2 "   style="background-color: gray;"  value="审核中，请耐心等待">
                    </div>
                    {elseif $real_info['status']==2 /}
                    <ul>
                        <li>
                            <label>手机号码</label>
                            <input type="text"  value="{$info.username}" readonly/>
                        </li>
                        <li>
                            <label>真实姓名</label>
                            <input type="text"  value="{$real_info.name}" readonly  />
                        </li>
                        <li>
                            <label>身份证号</label>
                            <input type="text"  value="{$real_info.card}"  readonly />
                        </li>
                        <li>
                            <label>发起时间</label>
                            <input type="text"  value="{$real_info.add_time}"  readonly />
                        </li>
                        <li>
                            <label>审核时间</label>
                            <input type="text"  value="{$real_info.update_time}"  readonly />
                        </li>
                    </ul>
                    <div class="rows" style="text-align: center">
                        <input type="button" class="btns2 "   style="background-color: orange;"  value="认证成功">
                    </div>
                    {elseif $real_info['status']==3 /}
                    <ul>
                        <li>
                            <label>手机号码</label>
                            <input type="text"  value="{$info.username}" readonly/>
                        </li>
                        <li>
                            <label>真实姓名</label>
                            <input type="text" placeholder="请输入真实姓名" name="name" lay-verify="name" value="{$real_info.name}"  />
                        </li>
                        <li>
                            <label>身份证号</label>
                            <input type="text" placeholder="请输入身份证号码" name="card" lay-verify="card" value="{$real_info.card}"  />
                        </li>

                    </ul>
                    <div class="rows" style="text-align: center">
                        <input type="submit" class="btns2 " lay-submit lay-filter="login" value="确认提交">
                    </div>
                    <ul style="color: red">
                        <li>
                            <label>审核失败</label>
                            <input type="text"  value="请重新填写资料后提交" style="color: red" readonly/>
                        </li>
                        <li>
                            <label>原因:</label>
                            <input type="text"  value="{$real_info.remark}" style="color: red" readonly/>
                        </li>
                    </ul>

                    {else/}
                    <ul>
                        <li>
                            <label>手机号码</label>
                            <input type="text"  value="{$info.username}" readonly/>
                        </li>
                        <li>
                            <label>真实姓名</label>
                            <input type="text" placeholder="请输入真实姓名" value="" name="name" lay-verify="name"  />
                        </li>
                        <li>
                            <label>身份证号</label>
                            <input type="text" placeholder="请输入身份证号码" name="card" lay-verify="card" />
                        </li>

                    </ul>
                    <div class="rows" style="text-align: center">
                        <input type="submit" class="btns2 " lay-submit lay-filter="login" value="确认提交">
                    </div>
                    {/if}

                    <div class="config">
                        <p>1.注册后建议尽快实名认证</p>
                        <p>2.认证时必须使用注册时使用的手机号码</p>
                        <p>3.实名认证后，方可进行交易和绑定银行卡</p>
                        <p>4.认证后请耐心等待审核，审核时间为工作日8:00-22:00</p>
                        <p>5.实名认证通过后将无法修改</p>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>
<script>
    $(function  () {
        layui.use('form', function(){
            $ = layui.jquery;
            var form = layui.form
                    ,layer = layui.layer;
            form.verify({
                name:function(value){
                    if(value.length < 1||value.length > 6){
                        return '请输入正确的真实姓名';
                    }
                    if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
                        return '不含特殊字符';
                    }
                }
                ,card:function(value){
                    if(value.length < 15||value.length > 18){
                        return '请输入正确的身份证号码';
                    }
                    if(!new RegExp("^[xX0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
                        return '请输入正确的身份证号码';
                    }
                }
            });

            form.on('submit(login)', function(data){
                var load = layer.load();
                $('input[type="submit"]').attr("disabled",true);
                $.post("/index/User/real_auth",data.field,function(res){
                    layer.close(load);
                    if(res.status==0){
                        layer.msg(res.msg,{icon: 2,time:1000},function(){
                            $('input[type="submit"]').removeAttr("disabled");
                        });
                    }else{
                        layer.msg(res.msg,{icon: 1,time:1000},function(){
                            window.location.reload();
                        });
                    }
                },'json');
                return false;
            });
        });
    })
</script>