<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>aioq.cn艾比特数字资产价值兑换交易平台_区块链服务平台【艾比特】</title>
    <meta name="Keywords" content="aioq.cn艾比特数字资产价值兑换交易平台_区块链服务平台">
    <meta name="Description" content="aioq.cn艾比特交易平台是数字资产价值兑换交易平台，坚持为数字资产交易者提供，专业、安全、快捷的交易服务。">
    <meta name="author" content="aioq.cn">
    <meta name="coprright" content="aioq.cn">
    <link rel="shortcut icon" href="/favicon.ico"/>

    <link rel="stylesheet" href="/static/index/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/index/css/style.css" id="theme"/>
    <link rel="stylesheet" href="/static/index/css/common.css"/>
    <link rel="stylesheet" href="/static/admin/lib/layui/css/layui.css"/>
    <script type="text/javascript" src="/static/index/js/jquery-2.1.1.min.js"></script>
    <script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/admin/js/xadmin.js"></script>

</head>

<body lang="zh-CN">
<!--[if lt IE 10]>
<div id="kie-bar" class="kie-bar ">
    您现在使用的浏览器版本过低，可能会导致浏览效果和信息的缺失。 建议立即升级到
    <a href="http://rj.baidu.com/soft/detail/14917.html" target="_blank" title="免费升级至IE8浏览器">IE 10+</a> 或
    <a href="http://rj.baidu.com/soft/detail/14744.html" target="_blank" title="免费升级至360安全浏览器">谷歌浏览器</a> 或
    <a href="http://rj.baidu.com/soft/detail/17451.html" target="_blank" title="免费升级至360安全浏览器">360安全浏览器</a> ，安全更放心！
</div><![endif]-->
<div id="mollymobi_header" style="z-index: 999;min-width: 1200px;width:100%;">
    <div class="header">
        <div class="header-content">
            <ul class="trade-status">

                <li style="padding: 0px 10px 0px 0px;">
                    <i class="fa fa-home fa-lg left move mr5"></i>
                    <span>欢迎来到aioq.cn艾比特数字资产价值兑换交易平台-区块链服务平台</span>
                </li>
            </ul>
            <ul class="user-status">

                <li>
                    <i class="fa fa-user left move fz_16"></i>
                    <a href="/index/User/index" class="ma-l move"> {$username}</a>
                </li>

                <li>
                    <a href="/index/Login/logout" class="darker" style="color:#4f94e7">安全退出</a>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="common-nav">
    <div class="nav-bar">
        <div class="logo" style="margin-top: 12px;">
            <a href="/index/Index/index" class="xiaozhu-logo">
                <img src="/static/index/images/ABT.png" alt="" style="width: 36%;"/>
            </a>
        </div>
        <div class="nav-content">
            <ul class="common-nav-list">
                <li>
                    <a href="/index/Index/index">首页</a>
                </li>
                <li>
                    <a href="/index/Trade/index">交易中心
                    </a>
                </li>
                <li>
                    <a href="/index/Coin/index">申购币</a>
                </li>
                <li>
                    <a href="/index/Notice/index">公告中心</a>
                </li>
                <li>
                    <a href="/index/Notice/help">帮助中心</a>
                </li>
                <li>
                    <a href="/index/Notice/about_us">关于我们</a>
                </li>
                <li>
                    <a href="/index/User/index">个人中心</a>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="autobox">
    <div class="now">
        <i class="fa fa-home fa-lg move mr5"></i>
        <a href="/index/Index/index" class="">首页</a> &gt;
        <a href="/index/User/recharge" class="">账户充值 </a>
    </div>
    <div class="assets_center clear po_re ">
        <div class="left-nav-bar" id="left-nav-bar">
            <div class="left-nav-slider">
                <dl class="nav-tab-list">

                    <dt>
                        <a href="/index/User/index"><i class="fa fa-support mr10"></i>个人中心</a>
                    </dt>
                    <dt class="nav-tab-hover hover1"></dt>
                    <dd >
                        <a href="/index/User/real_auth">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>实名认证
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/bank_list">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>我的银行卡
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>

                    <dd >
                        <a href="/index/User/recharge">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>账户充值
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd>
                        <a href="/index/User/withdraw">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>我要提现
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd>
                        <a href="/index/User/withdraw_list">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>提现记录
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/money_list">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>资金记录
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>

                    <dd >
                        <a href="/index/User/order_list">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>平仓记录
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/invite">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>邀请好友
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/friends">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>我的好友
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/coin">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>我的申购币
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/coin_order_list">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>申购币购买记录
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/coin_give_list">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>申购币获赠记录
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>
                    <dd >
                        <a href="/index/User/re_pwd">
                            <i class="fa fa-tasks fa-lg fa-fw mr5"></i>修改密码
                            <i class="fa fa-angle-right fa-lg right mr10 mt17"></i>
                        </a>
                    </dd>

                </dl>
            </div>
        </div>
        <style>
            .new_list ul li {
                text-align: center;
                width: 20%;
                float: left;
                padding: 10px 0;
                font-size: 16px;
                border: 1px solid #d9d9d9;
                color: #666666;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -z-border-radius: 10px;
            }

            .new_list ul li.active {
                background: #4f94e7;
                color: white;
                border: none;
                padding: 11px 0;
            }

            .new_list ul li:nth-child(3n-2) {
                margin-left: 10%;
            }

            .new_list ul li:nth-child(3n-1) {
                margin-left: 10%;
                margin-right: 10%;
            }

            .new_list ul li:nth-child(3n) {
                margin-right: 10%;
            }

            .new_list ul:after {
                content: "";
                display: block;
                clear: both;
            }

            .rows {
                margin-top: 15px;
                border-bottom: 1px solid #d9d9d9;
                padding: 7px 0;
            }

            .rows label {
                font-size: 16px;
                margin-right: 15px;
            }

            .rows input {
                border: none;
                outline: none;
                background: none;
                font-size: 16px;
                color: black;
                width: 60%;
            }


            .rows button {
                text-align: center;
                font-size: 16px;
                padding: 10px 0;
                width: 80%;
                margin-left: 10%;
                color: white;
                background: #4f94e7;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                outline: none;
                border: none;

            }
            .ceninfo ul li{
                border: none;

            }
        </style>
        <div class="assets_content w900 right bg_w mh1500">
            <h1>账户充值</h1>
            <form method="post" class="layui-form" >
                <div class="new_list">
                    <div class="rows">
                        <label>当前费率</label>
                        <input type="text" value="{$rate}" readonly/>
                    </div>
                    <ul>
                        <li>30000</li>
                        <li>20000</li>
                        <li>10000</li>
                        <li>5000</li>
                        <li class="active">3000</li>
                        <li>2000</li>
                        <li>1000</li>
                        <li>800</li>
                        <li>500</li>
                    </ul>
                    <div class="rows">
                        <label>充值金额</label>
                        <input type="number" value="3000" class="money" name="money" lay-verify="number"/>
                    </div>
                    <li>
                        <label>到账金额</label>
                        <input type="number" readonly id="real_money" value="{$real}" />
                    </li>
                    <div class="rows">
                        <select lay-verify="type" id="type" name="type">
                            <option value="0">清选择支付方式</option>
                            <option value="5001">微信扫码</option>
                            <option value="2004">支付宝扫码</option>
                            <option value="QWJ_QUICK">快捷支付</option>
                            <option value="7001">网银支付</option>
                        </select>
                    </div>
                    <div class="rows" style="border: none;">
                        <button type="submit" lay-submit lay-filter="recharge">确认充值</button>
                    </div>
                </div>
            </form>
            <div  style="text-indent: 5rem;">
                <p>特别提醒：</p>
                <p>1.微信支付宝扫码限额500-30000</p>
                <p>2.快捷支付限额100-10000</p>
                <p>3.网银支付限额100-200000</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(function  () {
        $('.new_list ul li').click(function(){
            $(this).addClass('active').siblings().removeClass('active');
//            console.log($(this).text());
            $('.money').val($(this).text());
        })
        layui.use('form', function(){
            $ = layui.jquery;
            var form = layui.form
                    ,layer = layui.layer;
            form.verify({
                type: function(value){
                    if(value==0){
                        return '请选择支付方式';
                    }
                }
            });

            form.on('submit(recharge)', function(data){
                var type=$('#type').val();
                var money=$('.money').val();
                if(type==5001||type==2004){
                    if(money<500){
                        layer.msg('最低充值金额500',{icon: 2,time:1000});
                        return false;
                    }
                    if(money>30000){
                        layer.msg('最高充值金额30000',{icon: 2,time:1000});
                        return false;
                    }
                }else if(type=='QWJ_QUICK'){
                    if(money<100){
                        layer.msg('最低充值金额100',{icon: 2,time:1000});
                        return false;
                    }
                    if(money>5000){
                        layer.msg('最高充值金额10000',{icon: 2,time:1000});
                        return false;
                    }
                } else if(type==7001){
                    if(money<100){
                        layer.msg('最低充值金额100',{icon: 2,time:1000});
                        return false;
                    }
                    if(money>200000){
                        layer.msg('最高充值金额200000',{icon: 2,time:1000});
                        return false;
                    }
                }
                var load = layer.load();
                $('button[type="submit"]').attr("disabled",true);
                $.post("/index/User/recharge",data.field,function(res){
                    layer.close(load);
                    $('button[type="submit"]').removeAttr("disabled");
                    if(res.status==1){
                        window.location.href=res.info;
                    }else{
                        layer.msg(res.msg,{icon: 2,time:1000});
                    }
                },'json');
                return false;
            });
        });
    })
</script>