<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title>内部学习系统</title>

    <link rel="stylesheet" href="/static/admin/css/font.css">
    <link rel="stylesheet" href="/static/admin/css/xadmin.css">

    <script src="/static/index/js/jquery-2.1.1.min.js" charset="utf-8"></script>
    <script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="__STATIC__/index/js/html5shiv.js"></script>
    <script src="__STATIC__/index/js/respond.min.js"></script>
    <![endif]-->
    <script src="__STATIC__/index/js/my_rem.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/personCenter.css">
</head>
<body>
    <div id="personCenter">
        <div class="container">
            <div class="header" >
                <div>
                    <img src="__STATIC__/index/images/logo.png" alt=""/>
                </div>
                <div>
                    <p>{$info.nickname}</p>
                    <p>账 &nbsp;&nbsp号：{$info.username}</p>
                    <p>余 &nbsp;&nbsp额：￥{$info.money|number_format=###,2,'.',''}元 </p>
                </div>
                <div style="width: 70%;"></div>
                <div >
                    <a href="javascript:history.go(-1);" class="layui-btn layui-btn-warm">返回</a>
                </div>
            </div>
            <div class="x-body">
                <!--
                <form class="layui-form" method="post">
                   <div class="layui-form-item">
                        <label for="name" class="layui-form-label">
                            真实姓名
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="name" name="bank_khm" autocomplete="off" class="layui-input" value="{$bank['bank_khm']|default=''}" >
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="bank_name" class="layui-form-label">
                            银行名称
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="bank_name"
                                   autocomplete="off" name="bank_name" class="layui-input" value="{$bank['bank_name']|default=''}" >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="bank_id" class="layui-form-label">
                            银行卡号
                        </label>
                        <div class="layui-input-block">
                            <input type="number" id="bank_id" name="bank_id" autocomplete="off" class="layui-input" value="{$bank['bank_id']|default=''}" >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="money" class="layui-form-label">
                            金额
                        </label>
                        <div class="layui-input-inline">
                            <input type="number" id="money" name="money" required="" lay-verify="number|money"
                                   autocomplete="off" class="layui-input" placeholder="请输入提现金额">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="remark" class="layui-form-label">
                            备注
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="remark" name="remark"
                                   autocomplete="off" class="layui-input" placeholder="选填,50字以内">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                        </label>
                        <button  class="layui-btn" lay-filter="add" lay-submit="">
                            确认
                        </button>
                    </div>
                </form>
                -->
                <div class="layui-row layui-col-space15">
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-body">
                                    {$protocol ? html_entity_decode($protocol):''}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>

  layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form
                ,layer = layui.layer;

        //自定义验证规则
        form.verify({
            bank_khm: function(value){
                if(value.length <= 0||value.length > 10){
                    return '请输入正确的姓名';
                }
            }
            ,bank_name: function(value){
                if(value == ''||value== null){
                    return '请输入银行名称';
                }
                if(value.length <= 1||value.length > 50){
                    return '请输入正确的银行名称';
                }
            }
//            ,bank_address: function(value){
//                if(value == ''||value== null){
//                    return '请输入开户支行名称';
//                }
//                if(value.length <= 1||value.length > 100){
//                    return '请输入正确的开户支行名称';
//                }
//            }
            ,bank_id: function(value){
                if(value== ''||value== null){
                    return '请输入银行卡号';
                }
                if(value.length <15||value.length > 20){
                    return '请输入正确的银行卡号';
                }
            }
            ,money: function(value){
                if(value== ''||value== null){
                    return '请输入提现金额';
                }
                if(value<=0){
                    return '请输入正确的提现金额';
                }
                if(value<{$min_tixian_money}){
                    return '最低提现金额为{$min_tixian_money}元';
                }
            }
        });

        //监听提交
        form.on('submit(add)', function(data){
//            alert('功能暂未开放，请联系客服处理');
//            return false;
            $('.layui-btn').attr("disabled",true);
            $.post("/index/api/_withdraw",data.field,function(res){
                if(res.status==0){
                    layer.msg(res.msg,{icon: 2,time:2000},function(){
                        $('.layui-btn').removeAttr("disabled");
                    });
                }else{
                    layer.msg(res.msg,{icon: 1,time:1000},function(){
                        window.location.href='/index/user/index';
                    });
                }
            },'json');
            return false;
        });
    });
</script>
</html>