<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>交易中心</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
    <link rel="stylesheet" href="/static/mobile/css/weui.min.css">
    <link rel="stylesheet" href="/static/mobile/css/jquery-weui.css">
    <link rel="stylesheet" href="/static/mobile/css/style.css">
    <link rel="stylesheet" href="/static/admin/lib/layui/css/layui.css">
    <script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script src="/static/index/js/echarts.min.js"></script>
    <style type="text/css">
    .transaction {
        width: 100%;
    }

    .transaction .tr-header {
        padding: 10px 0;
        /*position: relative;*/
        position: fixed;
        width: 100%;
        background: #0e1227;
        z-index: 9999;
    }

    .tr-header .tr-mo {
        text-align: center;

    }

    .tr-header .goback {
        width: 25px;
        position: absolute;
        left: 15px;
        top: 5px;
    }

    .tr-mo span {
        font-weight: bold;
        font-size: 13px;
        color: white;

    }

    .tr-mo img {
        width: 19px;
    }

    .k-trtext {

        padding: 10px;
        padding-top: 50px;
        padding-bottom: 0;
    }

    .k-trtext:after,
    .k-trtext .ktr-lr p:after,
    .k-min ul:after,
    .footer ul:after,
    .model .m-h2:after,
    .ar-tit ul:after,
    .ar-text>div:after,
    .moe:after{
        content: "";
        display: block;
        clear: both;
    }

    .k-trtext > div {
        width: 50%;
        float: left;
    }

    .ktr-lf .lf-h1 span {
        font-size: 17px;
        color: #3fc85a;
        margin-right: 10px;
    }

    .ktr-lf .lf-h1 img {
        width: 17px;
    }

    .ktr-lf .lf-h1, .lf-h2 {
        height:23px;
    }

    .lf-h2 p {
        font-size: 12px;
        color: #5b5d66;

    }

    .lf-h2 p small {
        color: #3fc85a;
        font-size: 12px;
    }

    .k-trtext .ktr-lr p {
        height: 20px;
        font-size: 12px;
    }

    .k-trtext .ktr-lr p > span {
        float: left;
        width: 50%;
        display: block;
        font-size: 12px;
        color: #5b5d66;
    }

    .k-trtext .ktr-lr p span:last-child {
        text-align: right;
        color: white;
    }

    .k-min {
        padding: 5px 0;
        background: #1d1d33;

    }

    .k-min ul {
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .k-min ul li {
        color: #434a5e;
        font-size: 13px;
        width: 16%;
        display: inline-block;
        text-align: center;
    }

    .order .order-tit {
        width: 100%;
        padding: 8px;
        background: #0e1227;
    }

    .order-tit p {
        text-align: center;
        color: white;
        font-size: 13px;
    }

    .order-list {
        width: 100%;
        height: 200px;
        overflow-y: scroll;
        padding-bottom: 40px;
    }

    .order table {
        width: 100%;
    }

    .order table tr {
        padding: 4px 0;
    }

    .order table tr:first-child {
        background: black;
        position: absolute;
        margin-top: -2px;
        width: 100%;
        top: 576px;
    }

    .order table tr th {
        display: block;
        float: left;
        width: 20%;
    }

    .order table tr th, .order table tr td {
        width: 20%;
        text-align: center;
        font-size: 13px;
        padding: 10px 0;
    }

    .order table tr th {
        color: white;
    }

    .order table tr td {
        color: #ff5e5e;
    }

    .order table tr:nth-child(2n) td {
        color: #2f8e4a;
    }

    .order table tr:nth-child(2) th{
        padding-top: 46px;
    }

    .footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    .footer ul li {
        width: 50%;
        float: left;
        padding: 10px 0;
        font-size: 14px;
        color: white;
        text-align: center;
    }

    .footer ul li:first-child {
        background: #ff5e5e;
    }

    .footer ul li:last-child {
        background: #40cc5b;
    }

    .layui-input-block {
        margin-left: 0;
        float: left;
        width: 65px;
    }
    .m-h2  input.chosecon{
        float: left;
        display: none;
    }
    .m-hang p{
        font-size: 13px;
        color: white;
        height: 25px;
        line-height: 20px;
    }

    .headar .model-content{
        bottom: inherit;
        top:22px;
        background: #23233d;
        padding-bottom: 0;
    }
    .ar-tit{
        width: 100%;
    }
    .ar-tit ul li{
        padding: 10px 0;
        width: 33.33%;
        float: left;
        text-align: center;
        color: white;
        font-size: 13px;
    }
    .ar-tit ul li.active{
        border-top: 2px solid #0c89de;
        color: #0c89de;
    }
    .ar-text{
        padding: 0 10px;
    }
    .ar-text>div p{
        /*padding: 6px 0;*/
        font-size: 13px;
        color: white;
        width: 33.33%;
        text-align: center;
        float: left;
        height: 35px;
        line-height: 35px;
    }
    .ar-text .txt{
        border-bottom: 1px solid white;
    }
    .ar-text>div p:first-child{
        text-align: left;
    }
    .ar-text div p span{
        width: 100%;
        display: block;
        height: 1rem;
        line-height:2rem;
    }
    .ar-text div p span:last-child,.ar-text .txt1 p{
        color: #656570;
    }
    .ar-text .txt1{
        border-bottom: 1px dashed #fff;
        border-top: 1px dashed #fff;
    }
    .ar-text .txt:last-child{
        border-bottom: 0;
    }
    .addbill .model-content .m-hang{
        margin-bottom: 3px;
    }
    .addbill .model-content{
        padding: 10px;
    }
    .addbill  .model-content h2{
        margin-bottom: 5px;
    }
    .moe{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .moe p{
        font-size: 12px;
        color: #fff;
        width: 33.33%;
        float: left;
        text-align: center;
    }
    .txt p small{
        font-size: 13px;
    }
    .k-xian{
        position: relative;
    }
    .k-min ul li{
        color: white;
    }
    .my_active{
        background-color: orange;
    }
    </style>
</head>
<body ontouchstart>
<!--顶部搜索-->
<!--主体-->
<div class='weui-content'>
    <div class="transaction">
        <div class="tr-header">
            <img src="/static/mobile/images/xiayibuer.png" class="goback" onclick="window.location.href='/mobile/Index/price'"/>
            <div class="tr-mo">
                <span class="product_name" id="active_product_name" data-abbreviation="{$product.abbreviation}">{$product.desc_name}</span>
                <img src="/static/mobile/images/xiamore.png"/>
            </div>

        </div>
        <div class="k-trtext">
            <div class="ktr-lf">
                <div class="lf-h1">
                    <span class="now_price">0.00</span>
                    <!--<img src="/static/mobile/images/upup.png"/>-->
                </div>
                <div class="lf-h2">
                    <p style="color: white">
                        <small><span class="up_down_per">0.00</span>%</small>
                        =￥ <span class="up_down_val">0.00</span>
                    </p>
                </div>
            </div>
            <div class="ktr-lr">
                <p>
                    <span style="color: white">高 <span id="price-k-high">0.00</span></span>
                    <span>开 <span id="price-k-open">0.00</span></span>
                </p>
                <p>
                    <span style="color: white">低 <span id="price-k-low">0.00</span></span>
                    <span style="color: white">收 <span id="price-k-close">0.00</span></span>
                </p>
               
            </div>
        </div>
        <div class="k-min">
            <ul >
                <li gap="1minute">1分钟</li>
                <li gap="5minute">5分钟</li>
                <li gap="15minute">15分钟</li>
                <li gap="30minute">30分钟</li>
                <li gap="60minute">1小时</li>
                <li class="my_active default_active" gap="1day" count="30">1天</li>
            </ul>
        </div>
        <div class="k-xian">
            <div id="main" style="width: 100%;height:420px;"></div>
            <div class="moe">
            	<p>账户余额： <span id="user_money">{$user.money|number_format=###,2,'.',''}</span>  </p>
            	<p>占用保证金：<span id="user_promise_money">{$user.promise_money|number_format=###,2,'.',''}</span></p>
            	<p>可用余额：<span id="user_real_money">{$user.real_money|number_format=###,2,'.',''}</span></p>
            </div>
        </div>
        <div class="order">
            <div class="order-tit">
                <p>持仓订单</p>
            </div>
            <div class="order-list">
                <table class="order_add_list">
                    <tr>
                        <th>产品</th>
                        <th>买入价</th>
                        <th>当前价</th>
                        <th>收益</th>
                        <th>操作</th>
                    </tr>
                    {volist name="keep_order_list" id="val"}
                    <tr class="{$val.oid} keep_order_list">
                        <th>{$val.product_name}</th>
                        <th class="buy_price">{$val['buy_price']|number_format=###,2,'.',''}</th>
                        <th class="now_price_{$val.product_abbreviation} list_now_price">0.00</th>
                        <th class="profit">0.00</th>
                        <th><button style="background-color: red;color: white;border-radius:8%;width: 3rem;" onclick="close_order({$val.oid})">平仓</button></th>
                        <input type="hidden" value="{$val['direction']}" class="o_direction"/>
                        <input type="hidden" value="{$val['contract']}" class="o_contract"/>
                        <input type="hidden" value="{$val['hand']}" class="o_hand"/>
                    </tr>
                    {/volist}

                </table>
            </div>


        </div>
    </div>
</div>
<div class="model headar">
    <div class="model-content">
        <!--<div class="ar-tit">-->
            <!--<ul>-->
                <!--<li class="active">合约区</li>-->
                <!--<li>主币区</li>-->
                <!--<li>通证区</li>-->
            <!--</ul>-->
        <!--</div>-->
        <div class="ar-text">
            <div class="txt1">
                <p>产品类型</p>
                <p>当前价格</p>
                <p>涨跌</p>
            </div>
            {volist name="product_list" id="val"}
            <div class="txt" data-abbreviation="{$val.abbreviation}">
                <input type="hidden" id="{$val.abbreviation}_id" value="{$val.id}"/>
                <input type="hidden" id="{$val.abbreviation}_contract" value="{$val.contract|number_format=###,2,'.',''}"/>
                <input type="hidden" id="{$val.abbreviation}_min_hand" value="{$val.min_hand|number_format=###,2,'.',''}"/>
                <input type="hidden" id="{$val.abbreviation}_fee" value="{$val.fee|number_format=###,2,'.',''}"/>
                <input type="hidden" id="{$val.abbreviation}_wave" value="{$val.wave}"/>
                <p class="desc_name ">{$val.desc_name}</p>
                <p>
                    <span class="now_price_{$val.abbreviation} l color_{$val.abbreviation}">0.00</span>
                </p>
                <p>
                    <small class="up_down_val_{$val.abbreviation} val">0.00</small> / <small class="up_down_per_{$val.abbreviation} per">0.00</small>%
                </p>
            </div>
            {/volist}
        </div>
    </div>
</div>
<div class="model addbill">
    <div class="model-content">
        <h2 class="m-title">
            新建订单
        </h2>
        <form action="" class="layui-form">
            <div class="m-hang">
                <label>品种</label>
                <input type="text" readonly="readonly" value="{$product.desc_name}" class="order_product_name" />
            </div>
            <div class="m-hang">
                <label>当前价格</label>
                <input type="text" readonly="readonly" value="0.00" class="order_price" />
            </div>
            <div class="m-hang">
                <label>交易单位</label>
                <input type="text" readonly="readonly" class="order_min_hand" value="{$product.min_hand|number_format=###,2,'.',''}" />
            </div>
            <div class="m-hang">
                <label>合约比例</label>
                <input type="text" readonly="readonly" class="order_contract" value="{$product.contract|number_format=###,2,'.',''}" />
            </div>
            <div class="m-hang">
                <label>方向</label>
                <input type="text" readonly="readonly" class="order_direction" value="买入" />
            </div>
            <div class="m-hang">
                <label>手数</label>
                <input type="number" value="0" class="shosu" name="hand" />
            </div>
            <div class="m-hang">
                <label>保证金</label>
                <input type="text" readonly="readonly" value="0" class="promise_money"/>
            </div>
            <div class="m-hang">
                <label>手续费</label>
                <input type="text" readonly="readonly" class="fee" value="{$product.fee|number_format=###,2,'.',''}" />
            </div>
            <input type="hidden" id="point_wave" value="{$product['wave']}"/>
            <div class="m-hang">
                <p>设置止盈应<span class="win_des">大于</span>等于<span class="target_profit">0.00</span></p>
                <p>设置止损应<span class="loss_des">小于</span>等于<span class="stop_loss">0.00</span></p>
                <div class="m-h2 switchone">
                    <label>止盈</label>
                    <div class="layui-input-block">
                        <input type="checkbox" lay-filter="checks" lay-skin="switch"
                               lay-text="开启|关闭" class="target_profit_check" value="1">
                    </div>
                    <input type="text" style="width: 100px" class="chosecon " name="target_profit"/>
                </div>
                <div class="m-h2 switchtwo">
                    <label>止亏</label>
                    <div class="layui-input-block">
                        <input type="checkbox" lay-filter="checks-t" lay-skin="switch"
                               lay-text="开启|关闭" name="stop_loss_check" value="1">
                    </div>
                    <input type="text" style="width: 100px" class="chosecon " name="stop_loss" />
                </div>
            </div>
            <input type="hidden" name="id" class="form_id" value="{$product['id']}"/>
            <input type="hidden" class="form_direction" name="direction" value="1"/>
            <div class="m-hang" style="margin-top:20px;">
                <button style="background-color: orange;color: white" class="create_order submit" type="button">确定</button>
                <button class="cancel" type="button">取消</button>
            </div>

        </form>

    </div>
</div>
<div class="footer">
    <ul>
        <li onclick="set_direction('买入',1)">
            买入
        </li>
        <li onclick="set_direction('卖出',2)">
            卖出
        </li>
    </ul>
</div>

</body>
</html>
<script src="/static/index/js/jquery-2.1.1.min.js"></script>
<script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/admin/js/xadmin.js"></script>
<script>

var myChart = echarts.init(document.getElementById('main'));
var colorList = ['#c23531', '#2f4554', '#61a0a8', '#d48265', '#91c7ae', '#749f83', '#ca8622', '#bda29a', '#6e7074', '#546570', '#c4ccd3'];
var labelFont = 'bold 12px Sans-serif';

function calculateMA(dayCount, data) {
    var result = [];
    for (var i = 0, len = data.length; i < len; i++) {
        if (i < dayCount) {
            result.push('-');
            continue;
        }
        var sum = 0;
        for (var j = 0; j < dayCount; j++) {
            sum += data[i - j][1];
        }
        result.push((sum / dayCount).toFixed(2));
    }
    return result;
}




$(".model .model-content").click(function (e) {
    e.stopPropagation();
});
$(".model").click(function () {
    $(".model").hide();
});
$(".tr-header .tr-mo img,.product_name").click(function () {
    $('.headar').show();
});
$(".ar-tit ul li").click(function(){
    $(this).addClass("active");
    $(this).siblings().removeClass("active");
});

//设置建仓方向
function set_direction(val,number){
    var color;
    if(number==1){
        $('.win_des').text('大于');
        $('.loss_des').text('小于');
        color='red';
    }else{
        $('.win_des').text('小于');
        $('.loss_des').text('大于');
        color='green';
    }
    $('.order_direction').val(val).attr("style","color:"+color+";");
    $('.form_direction').val(number);
    $('.promise_money').val(0.00);
    $(".addbill").show();
    $('.shosu').val('').focus();
}
$(".cancel").click(function () {
    if( $("input[name='target_profit_check']").is(':checked') ){
        $("input[name='target_profit_check']").removeAttr('checked');
        $("input[name='target_profit']").val('');
        $(".switchone .chosecon").hide();
        layui.form.render('checkbox');
    }
    if( $("input[name='stop_loss_check']").is(':checked') ){
        $("input[name='stop_loss_check']").removeAttr('checked');
        $("input[name='stop_loss']").val('');
        $(".switchtwo .chosecon").hide();
        layui.form.render('checkbox');
    }
    $(".model").hide();
});


//手数失焦事件，必须数字，并计算保证金
$(".shosu").blur(function () {
    var vals=$(this).val();
    if(isNotANumber(vals)==true){
        if(vals<0){
            $(".shosu").val(0);
        }else if(vals>0){
            var now_price=$('.order_price').val();
            var contract= $('.order_contract').val();
            var money=now_price*contract*vals/lever;
//                console.log(now_price);
//                console.log(contract);
//                console.log(money);
            $('.promise_money').val(math_floor(money));
        }
    }else{
        $(".shosu").val(0);
    }
});
//切换1min 5min
$('.k-min ul li').click(function(){
    $(this).addClass('my_active').siblings().removeClass('my_active');
    var coinType = $('#active_product_name').attr('data-abbreviation');
    var gap = $(this).attr('gap');
    setCandlestick(coinType,gap,30);
});
var loc = window.location;
var baseUrl  = loc.protocol  + '//' + loc.host + '/golang'
var openPrice = [];
var lever="{$user.lever}";

function countRange(nowPrice,productAbbreviation,active_name){
    var range=nowPrice-openPrice[productAbbreviation];
    var range_per=range/openPrice[productAbbreviation]*100;
    var up_down_name=  ".up_down_per_"+productAbbreviation;
    var up_down_val_name=  ".up_down_val_"+productAbbreviation;
    var color;
    if(nowPrice>openPrice[productAbbreviation]){
        color='red';
    }else if(nowPrice<openPrice[productAbbreviation]){
        color='green';
    }
    $(up_down_val_name).text(math_floor(range)).attr("style","color:"+color+";");
    $(up_down_name).text(math_floor(range_per)).parent().attr("style","color:"+color+";");
    $('.color_'+productAbbreviation).attr("style","color:"+color+";");
    if(productAbbreviation==active_name){
        $('.now_price').text(nowPrice).attr("style","color:"+color+";");
        $('.order_price').val(nowPrice).attr("style","color:"+color+";");
        $('.up_down_val').text(math_floor(range)).attr("style","color:"+color+";");
        $('.up_down_per').text(math_floor(range_per)).parent().attr("style","color:"+color+";");
    }

}
function handle_money(money,promise_money){
    money=math_floor(money);
    promise_money=math_floor(promise_money);
//        console.log(money);
//        console.log(promise_money);
    var user_money= math_floor($('#user_money').text());
    var user_promise_money= math_floor($('#user_promise_money').text());
    var user_real_money= math_floor($('#user_real_money').text());
    var my_number_money=toRead(x100(user_money)+x100(money));
    var my_promise_money=toRead(x100(user_promise_money)+x100(promise_money));
    var my_real_money=toRead(x100(user_real_money)+x100(money)-x100(promise_money));
    $('#user_money').text(my_number_money);
    $('#user_promise_money').text(my_promise_money);
    $('#user_real_money').text(my_real_money);
}
function count_wave(price){
    var point_wave=$('#point_wave').val();
    var form_direction=$('.form_direction').val();
    if(form_direction==1){
        $('.target_profit').text(math_floor(price-(-point_wave)));
        $('input[name="target_profit"]').val(math_floor(price-(-point_wave)));
        $('.stop_loss').text(math_floor(price-point_wave));
        $('input[name="stop_loss"]').val(math_floor(price-point_wave));
    }else{
        $('.target_profit').text(math_floor(price-point_wave));
        $('input[name="target_profit"]').val(math_floor(price-point_wave));
        $('.stop_loss').text(math_floor(price-(-point_wave)));
        $('input[name="stop_loss"]').val(math_floor(price-(-point_wave)));
    }
    //计算保证金
    var hand=$(".shosu").val();
    if(isNotANumber(hand)==true){
        if(hand<0){
            $(".shosu").val(0);
        }else if(hand>0){
            var now_price=$('.order_price').val();
            var contract= $('.order_contract').val();
            var money=now_price*contract*hand/lever;
            $('.promise_money').val(math_floor(money));
        }
    }
}
//计算持仓单盈亏
function count_profit(){
//        var all=0;
    $('.keep_order_list').each(function(){
        var buy_price=$(this).children('.buy_price').text();
        var now_price=$(this).children('.list_now_price').text();
        if(buy_price==now_price){
            return;
        }
        var direction=$(this).children('.o_direction').val();
        var contract=$(this).children('.o_contract').val();
        var hand=$(this).children('.o_hand').val();
        var amount=(now_price-buy_price)*contract*hand;
        var color;
//            console.log(direction=='买入');
        if(direction==1){
            if(now_price>=buy_price){
                color='red';
            }else if(now_price<buy_price){
                color='green';
            }
        }else{
            if(now_price>=buy_price){
                color='green';
            }else if(now_price<buy_price){
                color='red';
            }
            amount=-amount;
        }
        console.log(amount);
        $(this).children('.profit').text(math_floor(amount)).attr("style","color:"+color+";");
        $(this).children('.list_now_price').attr("style","color:"+color+";");
    });
}
//计算涨幅跌幅

$(".txt").click(function () {
//    $(this).addClass("active");
//    $(this).siblings().removeClass("active");
    $('.default_active').addClass('my_active').siblings().removeClass('my_active');

    //产品名称
    var name= $(this).attr('data-abbreviation');
    //顶部产品属性
    $('#active_product_name').attr('data-abbreviation',name);

    var now_price=$(this).find('.l').text();
    var color= $(this).find('.l').css("color");
    //顶部产品名称
    $('.product_name').text($(this).find('.desc_name').text());
    //建仓产品名称
    $('.order_product_name').val($(this).find('.desc_name').text());

    $('.now_price').text(now_price).attr("style","color:"+color+";");
    $('.order_price').val(now_price).attr("style","color:"+color+";");
    $('.up_down_val').text($(this).find('.val').text()).attr("style","color:"+color+";");
    $('.up_down_per').text($(this).find('.per').text()).parent().attr("style","color:"+color+";");

//    $('.up_down_val').attr('data-product-up-down-val',name);
//    $('.up_down').attr('data-product-up-down',name);

    var form_id='#'+name+'_id';
    var contract_id='#'+name+'_contract';
    var min_hand_id='#'+name+'_min_hand';
    var fee_id='#'+name+'_fee';
    var wave_id='#'+name+'_wave';

    var form_id_val=$(form_id).val();
    var contract_val=$(contract_id).val();
    var min_hand_val=$(min_hand_id).val();
    var fee_val=$(fee_id).val();
    var wave_val=$(wave_id).val();
    $('.order_contract').val(contract_val);
    $('.order_min_hand').val(min_hand_val);
    $('.fee').val(fee_val);
    $('.point_wave').val(wave_val);
    $('.form_id').val(form_id_val);

    $('.target_profit').text(now_price-(-wave_val));
    $('input[name="target_profit"]').val(now_price-(-wave_val));

    $('.stop_loss').text(now_price-wave_val);
    $('input[name="stop_loss"]').val(now_price-wave_val);
    countRange(now_price,name);
    $('.headar').hide();
    setCandlestick(name,"1day",30);
});

function setCandlestick(coinType,gap,count){

function setOnUi(dataFromApi){
Date.prototype.format = function(fmt) {
    var o = {
        "M+": this.getMonth() + 1,
        //月份
        "d+": this.getDate(),
        //日
        "h+": this.getHours(),
        //小时
        "m+": this.getMinutes(),
        //分
        "s+": this.getSeconds(),
        //秒
        "q+": Math.floor((this.getMonth() + 3) / 3),
        //季度
        "S": this.getMilliseconds() //毫秒
    };
    if (/(y+)/.test(fmt)) {
        fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    }
    for (var k in o) {
        if (new RegExp("(" + k + ")").test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        }
    }
    return fmt;
}

	var datefmt = "MM-dd";
	if (gap.includes("hour")) {
		datefmt = "dd日hh时";
	}
	if (gap.includes("minute")) {
		datefmt = "hh:mm";
	}	

	var dates = dataFromApi.Data.map(function (item) {
		//return new Date(item.time*1000);//.format(datefmt);
		return item.time*1000;
	});


    var data = dataFromApi.Data.map(function (item) {
        return [item.open,item.close,item.low,item.high];
    });

    var valueToday = dataFromApi.Data[dataFromApi.Data.length - 1];
    $.each(valueToday,function(k,v){
        $("#price-k-" +k).text(v);
	});

	var dataMA5 = calculateMA(5, data);
var option = {
    animation: false,
    color: colorList,

    legend: {
        top: 30,
        data: ['日K', 'MA5']
    },
    tooltip: {
        triggerOn: 'none',
        transitionDuration: 0,
        confine: true,
        bordeRadius: 4,
        borderWidth: 1,
        borderColor: '#333',
        backgroundColor: 'rgba(255,255,255,0.9)',
        textStyle: {
            fontSize: 12,
            color: '#333'
        },
        position: function(pos, params, el, elRect, size) {
            var obj = {
                top: 60
            };
            obj[['left', 'right'][ + (pos[0] < size.viewSize[0] / 2)]] = 5;
            return obj;
        }
    },
    axisPointer: {
        link: [{
            xAxisIndex: [0, 1]
        }]
    },
    dataZoom: [{
        type: 'slider',
        xAxisIndex: [0, 1],
        realtime: false,
        start: 20,
        end: 70,
        top: 10,
        height: 0,
        handleIcon: 'M10.7,11.9H9.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4h1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
        handleSize: '120%'
    },
    {
        type: 'inside',
        xAxisIndex: [0, 1],
        start: 40,
        end: 70,
        top: 30,
        height: 20
    }],
    xAxis: [{
        type: 'category',
        data: dates,
        boundaryGap: false,
        axisLine: {
            lineStyle: {
                color: '#777'
            }
        },
        axisLabel: {
            formatter: function(value) {
			//	return value;
                //return echarts.format.formatTime('MM-dd', value);
				return new Date(+value).format(datefmt);
            }
        },
        min: 'dataMin',
        max: 'dataMax',
        axisPointer: {
            show: true
        }
    },
    {
        type: 'category',
        gridIndex: 1,
        data: dates,
        scale: true,
        boundaryGap: false,
        splitLine: {
            show: false
        },
        axisLabel: {
            show: false
        },
        axisTick: {
            show: false
        },
        axisLine: {
            lineStyle: {
                color: '#777'
            }
        },
        splitNumber: 20,
        min: 'dataMin',
        max: 'dataMax',
        axisPointer: {
            type: 'shadow',
            label: {
                show: false
            },
            triggerTooltip: true,
            handle: {
                show: false,
                margin: 30,
                color: '#B80C00'
            }
        }
    }],
    yAxis: [{
        scale: true,
        splitNumber: 2,
        axisLine: {
            lineStyle: {
                color: '#777'
            }
        },
        splitLine: {
            show: true
        },
        axisTick: {
            show: false
        },
        axisLabel: {
            inside: true,
            formatter: '{value}\n'
        }
    },
    {
        scale: true,
        gridIndex: 1,
        splitNumber: 2,
        axisLabel: {
            show: false
        },
        axisLine: {
            show: false
        },
        axisTick: {
            show: false
        },
        splitLine: {
            show: false
        }
    }],
    grid: [{
        left: 20,
        right: 20,
        top: 80,
        height: 240
    },
    {
        left: 20,
        right: 20,
        height: 40,
        top: 360
    }],
    graphic: [{
        type: 'group',
        left: 'center',
        top: 70,
        width: 300,
        bounding: 'raw',
        children: [{
            id: 'MA5',
            type: 'text',
            style: {
                fill: colorList[1],
                font: labelFont
            },
            left: 0
        },
        {
            id: 'MA10',
            type: 'text',
            style: {
                fill: colorList[2],
                font: labelFont
            },
            left: 'center'
        },
        {
            id: 'MA20',
            type: 'text',
            style: {
                fill: colorList[3],
                font: labelFont
            },
            right: 0
        }]
    }],
    series: [{
        type: 'candlestick',
        name: '日K',
        data: data,
        itemStyle: {
            normal: {
                color: '#ef232a',
                color0: '#14b143',
                borderColor: '#ef232a',
                borderColor0: '#14b143'
            },
            emphasis: {
                color: 'black',
                color0: '#444',
                borderColor: 'black',
                borderColor0: '#444'
            }
        },

		markLine: {
			data: [{
			   yAxis: valueToday.close
			}
			],
			lineStyle: {
				color: 'rgb(255,255,255)'
			},
			label: {
				show: true,
				position: 'middle'
			}
		}
    },
    {
        name: 'MA5',
        type: 'line',
        data: dataMA5,
        smooth: true,
        showSymbol: false,
        lineStyle: {
            normal: {
                width: 1
            }
        }
    }]
};
myChart.setOption(option);


}

	var url = baseUrl + "/candlestick?coinType="+coinType +"&gap=" + gap + "&count=" + count;
	$.ajax({    
		type: 'get',
		url: url,
		//async: false,//同步
		success : function(msg) {
			//alert(JSON.strinify(msg));
			setOnUi(msg);
		},
		error : function(errMsg) {
			//不知道该干啥
		}
	});
}

$(function  () {
    var layer;
    var loadingFirst;
    var loadingSecond;
    function prepareWs(){
        var url = baseUrl + "/openPrice";
        url = 'https://aioq.cn/golang/openPrice';
        //获取产品开盘价
        $.ajax({
            type: 'get',
            url: url,
            //async: false,//同步
            success : function(data) {
                for(let i in data){
                    openPrice[i] =data[i]['USD'];
                }
            },
            error : function(errMsg) {
                //不知道该干啥
                layer.msg('网络波动',{icon: 1,time:1000},function(){
                    window.location.href="/mobile/User/index"
                });
            }
        });

        var uid="{$user.uid}";
        var wsUrl ='ws:';
        if(loc.protocol == 'https:')
            wsUrl = 'wss:'
        wsUrl += '//' + loc.host + '/golang/ws?uid=' + uid;
        wsUrl= 'wss://aioq.cn/golang/ws?uid=4';

        var ws = new WebSocket(wsUrl)
//        console.log(wsUrl);
        ws.onopen = function()
        {
            layer.close(loadingFirst);
            loadingSecond = layer.load(2, { //icon支持传入0-2
                shade: [0.5, 'gray'], //0.5透明度的灰色背景
                content: '数据加载中...',
                success: function (layero) {
                    layero.find('.layui-layer-content').css({
                        'padding-top': '39px',
                        'width': '6rem',
                        'color':'white',
                        'font-size':'1rem'

                    });
                }
            });
        };

        ws.onmessage = function (evt)
        {
            var data=JSON.parse(evt.data);
//            console.log(evt);
//            console.log(data);
            if(data.status){
                //总后台强平
                if(data.status==101){
                    layer.msg(data.msg,{icon: 2,time:3000},function(){
                        var tr='.'+data.oid;
                        $(tr).remove();
                        handle_money(data.money,data.promise_money);
                    });
                }
                //爆仓,止盈平仓，止损平仓
                if(data.status==102){
                    layer.msg(data.msg,{icon: 2,time:3000},function(){
                        var tr='.'+data.oid;
                        $(tr).remove();
                        handle_money(data.money,data.promise_money);
                    });
                }
                //资金变化
                if(data.status==201){
                    handle_money(data.money,data.promise_money);
                }
            }else{
                var active_name = $('#active_product_name').attr('data-abbreviation');
                $.each(data,function(k,v){
                    var now_price_class='.now_price_'+k;//固定产品位置
                    var new_price=v['USD'];
                    if(k==active_name){
                        //计算止盈止损
                        count_wave(new_price);
                            var opt = myChart.getOption();
                            if(opt){
                                opt.series[0].markLine.data[0].yAxis = new_price;
								var d = opt.series[0].data;
								d = d[d.length - 1]
								d[1] = new_price;
								if(d[2] > new_price)
									d[2] = new_price;
								if(d[3] < new_price)
									d[3] = new_price;
                                myChart.clear();
                                myChart.setOption(opt);
                            }
                    }
                    //计算涨幅跌幅
                    countRange(new_price,k,active_name);
                    $(now_price_class).text(new_price);
                });
                //计算持仓单输赢
                count_profit();
                layer.close(loadingSecond);
            }
        };
    }
    layui.use(['layer', 'form'], function () {
        layer = layui.layer;
        var form = layui.form;
        loadingFirst = layer.load(2, { //icon支持传入0-2
            shade: [0.5, 'gray'], //0.5透明度的灰色背景
            content: '连接服务器...',
            success: function (layero) {
                layero.find('.layui-layer-content').css({
                    'padding-top': '39px',
                    'width': '6rem',
                    'color':'white',
                    'font-size':'1rem'

                });
                prepareWs();
            }
        });
        form.on('switch(checks)', function(data){
//                console.log(data.elem.checked); //开关是否开启，true或者false
            if(data.elem.checked==true){
                $(".switchone .chosecon").show();
            }else{
                $(".switchone .chosecon").hide();
            }
        });
        form.on('switch(checks-t)', function(data){
//                console.log(data.elem.checked); //开关是否开启，true或者false
            if(data.elem.checked==true){
                $(".switchtwo .chosecon").show();
            }else{
                $(".switchtwo .chosecon").hide();
            }
        });

        $(".create_order").click(function(event) {
            var hand=$('.shosu').val();
            var id=$('.form_id').val();
            var direction=$('.form_direction').val();
            if(hand<=0){
                layer.msg('请输入正确的手数',{icon: 2,time:1000});
                return false;
            }
            var load = layer.load();
            $(".create_order").attr("disabled",true);
            $.post("/mobile/Trade/create_order",{hand:hand,id:id,direction:direction},function(res){
                layer.close(load);
                $(".create_order").removeAttr("disabled");
                if(res.status==0){
                    layer.msg(res.msg,{icon: 2,time:1000});
                }else{
                    layer.msg(res.msg,{icon: 1,time:1000},function(){
                        keep_order_list_add(res.info);
                        handle_money(-res.info.fee,res.info.money);
                        // window.location.href="/index/User/index"
                    });
                }
            },'json');
            return false;
        });

    });


	setCandlestick("BTC","1day",30);//1.货币, 2. day,hour,minute 按天，小时，分钟. 3. 几条柱子
});
function close_order(oid){
    layer.confirm('确认要平仓吗？',function(index){
        //发异步删除数据
        var load = layer.load();
        $.ajax({
            url:'/mobile/Trade/close_order',
            data:{oid:oid},
            type:'post',
            dataType:'json',
            success:function(res){
                layer.close(load);
                if(res['status']==1){
                    layer.msg(res['msg'],{icon:1,time:1000},function(){
                        var tr='.'+oid;
                        $(tr).remove();
                        console.log(res);
                        handle_money(res.info.money,res.info.promise_money);
                    });
                }else{
                    layer.msg(res['msg'],{icon: 2,time:1000});
                }
            }
        });
    });
}
function keep_order_list_add(data){
    var html='<tr class="'+data.oid+' keep_order_list">';
    html+='<th>'+data.product_name+'</th>';
    html+='<th class="buy_price">'+math_floor(data.buy_price)+'</th>';
    html+='<th class="list_now_price now_price_'+data.product_abbreviation+'">'+data.now_price+'</th>';
    html+='<th class="profit">0.00</th>';
    html+='<th><button style="background-color: red;color: white;border-radius:8%;width: 3rem;" onclick="close_order('+data.oid+')">平仓</button></th>';
    html+='<input type="hidden" value="'+math_floor(data.direction)+'" class="o_direction"/>';
    html+='<input type="hidden" value="'+math_floor(data.contract)+'" class="o_contract"/>';
    html+='<input type="hidden" value="'+math_floor(data.hand)+'" class="o_hand"/>';
    html+='</tr>';
    $(".order_add_list tr:eq(0)").after(html);
//    $(".order_add_list").prepend(html);
    $(".cancel").click();
}
function math_floor(number,per){
    number = parseFloat(number);
    return number.toFixed(2);
}
function x100(x){
    return Math.floor((+x)*100);
}
function toRead(x){
    x = x + '';
    return x.slice(0,-2) + '.'  + x.slice(-2);
}
function isNotANumber(inputData) {
    //isNaN(inputData)不能判断空串或一个空格
    //如果是一个空串或是一个空格，而isNaN是做为数字0进行处理的，而parseInt与parseFloat是返回一个错误消息，这个isNaN检查不严密而导致的。
    if(parseFloat(inputData).toString() == "NaN") {
        return false;
    } else {
        return true;
    }
}
</script>
